<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block :level="1" headline="Programy do voleb">
				<p class="lead">Cílem Programů do voleb je usnadnit každému, kdo se zajímá o volby, kandidáty a volební programy, aby
					je našel přehledně a na jednom místě. Zejména v době informační přehlcenosti a sociálních sítí, kdy
					včerejší obsah je mimo dosah, je dobré mít místo, které je stálé a univerzální, ale zároveň je přímo
					zaměřené na jednu jedinou věc.</p>
				<p class="lead">Tento projekt je nestranný, neziskový a vytvářen z dobré vůle na podporu demokracie a informovanosti.
					Použítí informací je vždy na vlastní zodpovědnost.</p>
				<p class="lead">Žádná strana ani kandidát nejsou jakkoli zvýhodněni, preferováni nebo doporučováni.</p>
				<p-line></p-line>
				<p-box-group>
					<p-box href="https://programydovoleb.cz/o-projektu">
						<p-box-button color="var(--blue)">Kompletní verze této stránky</p-box-button>
					</p-box>
				</p-box-group>
			</p-block>
			<p-block-expandable headline="Desatero">
				<ol>
					<li>Ke všem je přistupováno na principu rovnosti a nestrannosti.</li>
					<li>Všechny funkcionality jsou dostupné všem.</li>
					<li>Do zaslaných materiálů se nezasahuje.</li>
					<li>Fotografie jsou použité pouze se svolením.</li>
					<li>Veškerý obsah je dostupný zdarma všem.</li>
					<li>Všechna data lze dále šířit a používat, nejlépe jako #opendata.</li>
					<li>Bez reklam a sponzorovaných článků.</li>
					<li>Nesbírat data o uživatelích.</li>
					<li>Transparentní financování.</li>
					<li>Vždy uvádět zdroj.</li>
				</ol>
			</p-block-expandable>
			<p-block-expandable headline="Financování">
				<p>Programy do voleb jsou zapsaným spolkem a jsou financované výhradně z darů přispěvovatelů. Přispět
					lze přímo na <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">transparentní účet
						u FIO banky</p-link>, pomocí portálu <p-link
						href="https://www.darujme.cz/programydovoleb">Darujme.cz</p-link>.
					Výdaje pokrývají hlavně provoz webu, nákup reklamy a případně tisk materiálů. Design webu,
					programování, komunikace apod zajišťuje spolek bez nároku na honorář.</p>
				<!-- <p>Projekt lze podpořit i <router-link to="/podporit">jinými formami</router-link>, například umístěním banneru, sdílením online apod, odkazováním nebo doporučením.</p> -->
				<p>Přispěvatelům nevznikají žádné výhody, nejsou jim dostupné nějaké funkce navíc nebo dříve. Mohou si však svůj dar odepsat z daní.</p>
			</p-block-expandable>
			<p-block-expandable headline="Zdroje">
				<p>Zdrojem informací jsou buď veřejně dostupné zdroje nebo podklady, které zasílají přímo strany či
					kandidáti. V případě přebírání zdrojů z jiných webových stránek je vždy na tyto stránky odkazováno
					včetně data, kdy k tomu došlo.</p>
				<p>Fotografie jsou použité vždy se svolením kandidáta, tiskového oddělení, nebo v souladu s licenčními
					podmínkami (např z wikimedia).</p>
					<h4>Vybrané zdroje dat:</h4>
				<p-list>
					<div>
						Číselníky a registry: Český statistický úřad 
						<div class="smallest"><p-link
							href="https://www.czso.cz/csu/czso/podminky_pro_vyuzivani_a_dalsi_zverejnovani_statistickych_udaju_csu"></p-link></div>
					</div>
				</p-list>
			</p-block-expandable>
			<p-block-expandable headline="Cookies">
				<p>Programy do voleb nevyužívají žádné soubory cookies, protože nejsou nijak provázané s nástroji třetích stran, ani například Google Analytics nebo Google Fonts. Nevyužívají knihoven sociálních sítí, které by automaticky mohly sledovat pohyb a aktivity uživatele na webu.</p>
			</p-block-expandable>
			<p-block-expandable headline="Sledování návštěvnosti">
				<p>Pro potřeby základního měření návštěvnosti slouží velmi triviální anonymizovaný interní systém. Nepředává žádné informace třetím stranám a neukládá data, podle kterých by bylo možné zpětně dohledat konkrétního člověka.</p>
				<p>Pohyb na webu je tak co nejvíce anonymní. Volby jsou citlivá věc a není v zájmu Programů své nástvěvníky prodávat.</p>
			</p-block-expandable>
			<p-block-expandable headline="Ochrana údajů">
				<h3>Kandidáti</h3>
				<p>Zpracování osobních údajů kandidátů je prováděno na základě oprávněného zájmu spolku na
					transparentnosti politického života. Účelem zpracování údajů je zvýšení transparentnosti a
					informovanosti kolem volebního klání v České republice a snaha přinést přehled o zapojení a významu
					kandidáta do volební kampaně.</p>
				<p>Všichni kandidáti mají ke svým údajům přístup a mohou je měnit, mazat či doplňovat. U kandidátů jsou
					zveřejněny údaje podle otevřených dat ČSÚ doplněné o další dobrovolné údaje.</p>
				<h3>Správce údajů</h3>
				<p>Pokud máte jakékoli potřeby, požadavky na smazání, úpravu, zjištění rozsahu informací apod, obraťte
					se prosím na správce údajů:</p>
				<ul>
					<li>Programy do voleb, z. s., IČ: 10906380, <p-link
							href="mailto:info@programydovoleb.cz">info@programydovoleb.cz</p-link></li>
					<li>zodpovědná osoba: Štěpán Ryšavý, <p-link
							href="mailto:info@programydovoleb.cz">info@programydovoleb.cz</p-link></li>
				</ul>
			</p-block-expandable>
			<p-block-expandable headline="Podmínky použití">
				<p>Programy do voleb můžete používat naprosto anonymně. Není vyžadované žádné přihlášení, členství ani
					ideologická sounáležitost. Veškerý obsah webu je poskytován bez záruky a Programy do voleb nenesou
					žádnou zodpovědnost za škody způsobené užíváním webu, chybami, výpadky nebo některou z odkazovaných
					stránek.</p>
				<h3>Citování a odkazování</h3>
				<p>Při odkazování prosím používejte název <strong>Programy do voleb</strong> a nejlépe odkaz přímo na
					konkrétní stránku. Pokud to z nějakých důvodů nelze, pak odkazujte na
					<em>https://programydovoleb.cz</em> a připojte také datum, kdy jste informace z webu získali.</p>
			</p-block-expandable>
			<p-block-expandable headline="Autor projektu">
				<div class="float">
					<p-image :width="18" src="https://programydovoleb.cz/static/profilovka.jpg" :rounded="true"
						:border="true"></p-image>
				</div>
				<p>Jmenuji se Štěpán Ryšavý, pocházím z Turnova a pokud máte <p-link
						href="https://twitter.com/stepanrysavy">twitter</p-link>, nejspíš mě potkáte tam.
					Profesně jsem reklamkář, designer a programátor, kdo by potřeboval vědět přesněji, zde je můj
					<p-link href="https://www.linkedin.com/in/stepanrysavy/">LinkedIn</p-link>. Webům a
					reklamě se profesně věnuji přes deset let a u monitoru s klávesnicí sedím už přes 20 let. I díky
					tomu mnoho peněz ušetřím, nemusím nikoho dalšího platit, abych tento projekt <strong>ve svém volném
						čase</strong> mohl realizovat.</p>
				<p>Vždy jsem se zajímal o politiku, ale nejsem z politického těsta. Své volební preference a názory
					nechávám u tohoto projektu stranou a dávám stejný prostor každému. Nechť je v demokratické soutěži a
					u voleb hodnotí voliči, ne já. A protože mě vždy bavilo dělat weby, tak jsem to propojil.</p>
				<p>Pokud vás cokoli zajímá, napište mi, odpovím, vysvětlím, dobré tipy zapracuji: <p-link
						href="mailto:stepan.rysavy@programydovoleb.cz">stepan.rysavy@programydovoleb.cz</p-link>.
					Nebo se třeba můžeme potkat někde v Praze.</p>
				<p>Do roku 2021 jsem projekt provozoval na své riziko a živnost, od června 2021 už existuje s novou
					právní subjektivitou, jako zapsaný spolek:</p>
				<h3>Programy do voleb, z. s.</h3>
				<ul>
					<li>IČO: <p-link
							href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1126297&typ=PLATNY">10906380</p-link>
					</li>
					<li>L 13767 vedená u Krajského soudu v Hradci Králové</li>
					<li>Sídlo spolku je na adrese Jana Palacha 1413, Turnov</li>
					<li>Datová schránka <strong>vhwmpce</strong></li>
				</ul>
				<div class="clearfix"></div>
			</p-block-expandable>
			<p-block headline="Pro média">
				<p>Pokud vás Programy zaujaly a chtěli byste se na něco zeptat nebo o nich napsat:</p>
				<p-gap height=".2"></p-gap>
				<p-box-group>
					<p-box href="mailto:media@programydovoleb.cz">
						<p-box-ticker>@</p-box-ticker>
						<p-box-label>media@programydovoleb.cz</p-box-label>
					</p-box>
				</p-box-group>
				<p-gap height=".2"></p-gap>
				<p-box-group>
					<p-box href="https://twitter.com/programydovoleb">
						<p-box-icon type="tw"></p-box-icon>
						<p-box-label>@programydovoleb</p-box-label>
					</p-box>
				</p-box-group>
				<p-gap></p-gap>
				<p-line></p-line>
				<h3><a href="https://programydovoleb.cz/static/bannery/logo-programydovoleb.svg" download="logo-programydovoleb.svg">Stáhnout logo SVG</a></h3>
			</p-block>
		</template>
		<template #aside>
			<h3 class="serif w400">Programy do voleb, z. s.</h3>
			<p-gap height=".2"></p-gap>
			<p-list class="smaller">
				<p-stats :vertical="true" label="Zapsaný spolek">
					Nestranný neziskový projekt, díky kterému si můžete snadno, pohodlně a bez hledání přečíst a
					porovnat volební programy všech stran či kandidátů.
				</p-stats>
				<p-stats :vertical="true" label="IČO">
					10906380 (<p-link class="as-span"
						href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1126297&typ=PLATNY">rejstřík</p-link>)
				</p-stats>
				<p-stats :vertical="true" label="Datovka">
					vhwmpce
				</p-stats>
				<p-stats :vertical="true" label="Sídlo">
					Jana Palacha 1413, Turnov
				</p-stats>
				<p-stats :vertical="true" label="Kontakt" class="smallest">
					<a href="mailto:info@programydovoleb.cz">info@programydovoleb.cz</a>
					<br>
					<a href="mailto:media@programydovoleb.cz">media@programydovoleb.cz</a>
				</p-stats>
				<p-stats :vertical="true" label="">
					<p-box-group>
						<p-box href="https://www.twitter.com/programydovoleb">
							<p-box-icon type="tw"></p-box-icon>
						</p-box>
						<p-box href="https://www.instagram.com/programydovoleb">
							<p-box-icon type="ig"></p-box-icon>
						</p-box>
						<p-box href="https://www.facebook.com/programydovoleb">
							<p-box-icon type="fb"></p-box-icon>
						</p-box>
						<p-box href="https://www.threads.net/@programydovoleb">
							<p-box-icon type="threads"></p-box-icon>
						</p-box>
						<p-box href="https://www.reddit.com/u/programydovoleb/">
							<p-box-icon type="reddit"></p-box-icon>
						</p-box>
						<p-box href="https://bsky.app/profile/programydovoleb.cz">
							<p-box-icon type="bsky"></p-box-icon>
						</p-box>
						<p-box href="https://www.linkedin.com/company/programydovoleb">
							<p-box-icon type="linkedin"></p-box-icon>
						</p-box>
					</p-box-group>
				</p-stats>
			</p-list>
		</template>
		<template #anchors>

			<p-anchors></p-anchors>
		</template>
	</p-layout-divided>
</div>