<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Jak myslíte, že dopadnou letošní eurovolby?" anchor="Odhad výsledku" :level="1">
				<result-guess :data="elections"></result-guess>
			</p-block>	
			<p-block-expandable headline="Průběžný průměr">
				<p-loader :rule="elections && results">
					<div v-if="elections && results">
						<p-area>
							<election-poll :data="resultsAsPoll(results.summary.parties, 'Průměr tipů', results.cache ? results.cache.created.split('T')[0] : new Date())"></election-poll>
						</p-area>
						<p>Aktualizováno jednou za 6 hodin.</p>
					</div>
				</p-loader>
			</p-block-expandable>
			<p-block-expandable headline="Jednotlivé tipy">
				<p-loader :rule="elections && results">
					<div v-if="elections && results">
						<p-list class="invisible">
							<template v-for="(entry, index) in results.list">
								<p-collapsible :label="entry.name || 'Náhodný tip'" :status="date(entry.created)">

									<p-area>
										<election-poll :data="resultsAsPoll(entry.parties, entry.name || 'Náhodný tip', entry.created)"></election-poll>
									</p-area>
								</p-collapsible>
							</template>
						</p-list>
					</div>
				</p-loader>
			</p-block-expandable>
			<p-gap height="4"></p-gap>
			<p-grid>
				<div>
					<p-area icon="icon-check" background="var(--blue)">
						<router-link to="/kalkulacka" class="strong _white">Volební kalkulačka</router-link>
						<div class="smallest _white">40 otázek napoví, kdo vám je blíž</div>
					</p-area>
				</div>
				<div>
					<p-area icon="party" background="var(--blue11)">
						<router-link to="/aktivity/volebni-anketa" class="strong">Anketa</router-link>
						<div class="smallest">Vyplňte prosím krátkou anketu</div>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-false" background="var(--blue11)">
						<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební eurokvíz</router-link>
						<div class="smallest">Vyzkoušte své znalosti, čeká vás 10 otázek</div>
					</p-area>
				</div>
				<div>
					<p-area icon="evropske-volby" background="var(--blue11)">
						<router-link to="/" class="strong">Volební přehled</router-link>
						<div class="smallest">Přejít na úvodní stránku</div>
					</p-area>
				</div>
				<div>
					<p-area icon="answers" background="var(--blue11)">
						<router-link to="/" class="strong">Odpovědi kandidátů</router-link>
						<div class="smallest">Seznamte se s jejich názory</div>
					</p-area>
				</div>
				<div>
					<p-area icon="warning" background="var(--blue11)">
						<router-link to="/jak-volit" class="strong">Jak volit</router-link>
						<div class="smallest">Termíny, podmínky, krok za krokem</div>
					</p-area>
				</div>
			</p-grid>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'12rem'" alt="Evropské volby 2024"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list class="smaller invisible">
				<!-- <p-grid> -->
					<div>
						<p-area icon="icon-check" background="var(--blue)">
							<router-link to="/kalkulacka" class="strong _white">Volební<br>kalkulačka</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="party" background="var(--blue11)">
							<router-link to="/aktivity/volebni-anketa" class="strong">Předvolební<br>Anketa</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="icon-election" background="var(--blue11)">
							<router-link to="/aktivity/odhad-vysledku" class="strong">Odhad<br>výsledku</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="icon-false" background="var(--blue11)">
							<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební<br>eurokvíz</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="evropske-volby" background="var(--blue11)">
							<router-link to="/" class="strong">Volební přehled<br>k eurovolbám</router-link>
						</p-area>
					</div>
				<!-- </p-grid> -->
			</p-list>
		</template>
	</p-layout-divided>
</div>