<div class="layout-polls">
	<p-layout-divided>
		<template #main>
			<p-block headline="Novinky" :level="1">
				<p-block headline="Aktuální" :hide="true">
					<p-area>
						<p-loader :rule="news">
							<p-list v-if="news">
								<template v-for="(item, index) in news.list">
									<news-item :data="item"></news-item>
								</template>
							</p-list>
						</p-loader>
					</p-area>
					<p-gap></p-gap>
					<p-collapsible label="Nové strany nebo kandidáti">
						<p-area>
							<p-list v-if="news">
								<template v-for="(item, index) in news.auto">
									<p-offset class="balanced">
										<div class="text-right _w3">
											<span class="strong smallest">{{date(item.datum, 2) }}</span>	
										</div>
										<div>
											<p-offset class="reverse balanced">
												<div>
													<router-link :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title }}</router-link>
													<div class="dimm smallest">
														<p-list-linear class="or">
															<li v-if="item.content">{{ item.content }}</li>
															<li>{{ election_types[news.cis.volby.find(x => x.id === item.volby).typ].name }}</li>
															<li v-if="item.focus">{{ news.cis.volby.find(x => x.id === item.volby).typ === 'KZ' ? enums.regions[item.focus - 1] : news.cis.kraje.find(x => x.KRZAST === item.focus).NAZEV }}</li>
														</p-list-linear>
													</div>
												</div>
												<div class="smallest show-60rem">
													<p-link :href="item.source" class="dimm">{{ domain(item.source) }} &rarr;</p-link>
												</div>
											</p-offset>
											
										</div>		
									</p-offset>
								</template>
							</p-list>
						</p-area>
					</p-collapsible>
					<p-collapsible label="Poslední úpravy">
						<p-area>
							<p-list v-if="news">
								<template v-for="(item, index) in news.log">
									<p-offset class="balance">
										<div class="text-right _w3">
											<span class="strong smallest">{{date(item.date, 2) }}</span>	
										</div>
										<div>
											<router-link v-if="item.node.JMENO" :to="'/bod/' + item.pointer.split(':').join('/')">{{ item.node.JMENO }} {{ item.node.PRIJMENI }}</router-link>
											<router-link v-if="item.node.NAZEV" :to="'/bod/' + item.pointer.split(':').join('/')">{{ item.node.NAZEV }}</router-link>
											<div class="smallest dimm">
												<div v-for="(entry, index2) in item.data">
													{{ log.action[entry.action] }} <em>{{ log.types[entry.type] }}</em>
												</div>
											</div>
										</div>		
									</p-offset>
								</template>
							</p-list>
						</p-area>
					</p-collapsible>
					<p-collapsible label="Za oponou">
						<p-area>
							<p-list v-if="news">
								<template v-for="(item, index) in news.sys">
									<news-item :data="item"></news-item>
								</template>
							</p-list>
						</p-area>
					</p-collapsible>
					<p-gap></p-gap>
					<p-label color="var(--red)" class="strong smallest"><p-link href="https://programydovoleb.cz/rss">Odebírat jako RSS</p-link></p-label>
				</p-block>
				<template v-for="(year, iyear) in [2024, 2023]">
					<p-block-expandable :headline="String(year)">
						<news-year :year="year"></news-year>
					</p-block-expandable>
				</template>
			</p-block>
			<p-block headline="Odběr novinek e-mailem" :level="1" anchor="Newsletter">
				<mailchimp-signup></mailchimp-signup>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<p-gap></p-gap>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<h3 class="serif">Za oponou</h3>
			<p-list v-if="news" class="smallest">
				<template v-for="(item, index) in news.sys">
					<news-item :data="item" v-if="index < 5"></news-item>
				</template>
			</p-list>	
			<!-- <p-anchors></p-anchors> -->	
						
		</template>
	</p-layout-divided>
</div>
