<div class="layout-polls">
	<p-layout-divided>
		<template #main>
			<p-block headline="Novinky" :level="1">
				<p-block headline="Aktuální" :hide="true">
					<!-- <p-area> -->
						<p-loader :rule="news">
							<div v-if="news">
								<news-block :news="news" :limit="10" class="-fancy"></news-block>
							</div>
						</p-loader>
					<!-- </p-area> -->
					<div class="p-gap"></div>
					<p-label color="var(--red)" class="strong smallest"><p-link href="https://programydovoleb.cz/rss">Odebírat hlavní novinky jako RSS</p-link></p-label>
				</p-block>
				<template v-for="(item, ipattern) in patterns">
					<p-block-expandable :headline="item.title">
						<news-block :news="news" :pattern="item.pattern" class="-fancy"></news-block>
					</p-block-expandable>
				</template>
				<p-block-expandable headline="Za oponou">
					<p-area>
						<p-list v-if="news">
							<template v-for="(item, index) in news.sys">
								<news-item :data="item"></news-item>
							</template>
						</p-list>
					</p-area>
				</p-block-expandable>
			</p-block>
			<p-block headline="Odběr novinek e-mailem" :level="1" anchor="Newsletter">
				<mailchimp-signup></mailchimp-signup>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<h3 class="serif">Za oponou</h3>
			<p-list v-if="news" class="small">
				<template v-for="(item, index) in news.sys">
					<news-item :data="item" v-if="index < 5"></news-item>
				</template>
			</p-list>	
			<!-- <p-anchors></p-anchors> -->	
						
		</template>
	</p-layout-divided>
</div>
