img {
  border-radius: 50%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #fff;

  .dark & {
    // border-color: #000 !important;
    filter: invert(1);
    background: none;
  }
}

.icon-no-background img {
  border-color: transparent;
  border-radius: 0;
  background: none;
}

img.full {
  border-radius: 0;
  background: none;
}
