<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Otázky a odpovědi" :level="1" :hide="true">
				<p-loader :rule="data">
					<div v-if="data">
						<div v-if="data.list[0]">
							<div class="_float">
								<div v-if="data" class="hide-40rem _float-right">
									<p-image v-if="data && current.JMENO && con(current.$data, 'photo')" :src="con(current.$data, 'photo') || cdn + 'missing.png'" width="12rem" :rounded="true" :border="true"></p-image>
									<!-- <div class="p-gap"></div> -->
								</div>
								<div>
									<p-headline :level="1">
										Otázky a odpovědi
										<div class="small"><router-link :to="'/' + (current.JMENO ? 'kandidat' : 'strana') + '/' + current.$odpovedi[0].csu_id">{{ headline }}</router-link></div>
									</p-headline>
									<div class="serif">
										<div v-if="current.$strana && $strana">
											Na kandidátní listině
											<router-link :to="'/strana/' + $strana.id">
												{{ $strana.NAZEV }}
											</router-link>
										</div>
										<router-link class="is-span" to="/">
											{{ $volby.$about.name }}
										</router-link> 
										&middot; {{ $volby.datum_label || ($volby.datum ? date($volby.datum) : $volby.cirka) }}
									</div>
									<div class="p-gap"></div>
								</div>
							</div>
							<div class="_floar-clear"></div>
							<div v-if="current.NAZEV">
								<p-box-group>
									<template v-if="current.$program.length > 0">
										<p-box :to="'/strana/' + current.$program[0].csu_id + '/volebni-program/' + current.$program[0].id + '#plne-zneni'">
											<p-box-button color="var(--blue)">Program</p-box-button>
										</p-box>
									</template>
									<p-box :to="'/strana/' + tableID">
										<p-box-button color="var(--blue)">Profil</p-box-button>
									</p-box>
									<template v-if="current.$data.web && current.$data.web.length > 0">
										<p-box :href="current.$data.web[0].value">
											<p-box-button color="var(--blue)">Web</p-box-button>
										</p-box>
									</template>
									<template v-if="current.POCMANDCR">
										<p-box class="strong" :style="{color: current.POCMANDCR > 0 ? 'var(--green)' : 'var(--red)'}">
											<p-box-icon :type="current.POCMANDCR > 0 ? 'icon-check' : 'icon-against'"></p-box-icon>
											<p-box-label>
												<p-lang :value="current.POCMANDCR" :end="['žádný mandát', 'jeden mandát', '%% mandáty', '%% mandátů']"></p-lang>	
											</p-box-label>
										</p-box>
									</template>
									<template v-if="current.$data.social && current.$data.social.length > 0">
											<p-box-gap></p-box-gap>
											<template v-for="(item, index) in links">
												<p-box :href="item.value" class="clean">
													<p-box-icon :type="type(item.value)"></p-box-icon>
												</p-box>
											</template>
									</template>
								</p-box-group>
							</div>
							<div v-if="current.JMENO">
								<p-box-group>
									<template v-if="$strana.$program.length > 0">
										<p-box :to="'/strana/' + $strana.$program[0].csu_id + '/volebni-program/' + $strana.$program[0].id + '#plne-zneni'">
											<p-box-button color="var(--blue)">Program</p-box-button>
										</p-box>
									</template>
									<p-box :to="'/kandidat/' + tableID">
										<p-box-button color="var(--blue)">Profil</p-box-button>
									</p-box>
									<p-box>
										<p-box-label v-if="!current.PORCISLO" background="var(--blue44)">Neznámé umístění na kandidátce</p-box-label>
										<p-box-label v-if="current.PORCISLO" background="var(--blue44)">č. {{ current.PORCISLO }}</p-box-label>
									</p-box>
									<template v-if="current.$data.web && current.$data.web.length > 0">
										<p-box :href="current.$data.web[0].value">
											<p-box-button color="var(--blue)">Web</p-box-button>
										</p-box>
									</template>
									<template v-if="typeof current.MANDAT === 'undefined'">
										<template v-if="null === current.ESTRANA || current.ESTRANA < 0">
											<p-box>
												<p-box-label v-if="!current.ESTRANA">Neúčastní se přímo</p-box-label>
												<!-- <p-box-label v-if="current.ESTRANA < 0">Předběžné informace</p-box-label> -->
											</p-box>
										</template>
									</template>
									<template v-if="current.$data.social && current.$data.social.length > 0">
											<p-box-gap></p-box-gap>
											<template v-for="(item, index) in links">
												<p-box :href="item.value" class="clean">
													<p-box-icon :type="type(item.value)"></p-box-icon>
												</p-box>
											</template>
									</template>
								</p-box-group>
							</div>
							<div class="p-gap _3"></div>
							<p-block headline="Otevřené otázky" v-if="current.$odpovedi.find(x => x.$otazka[0].type === 1)">
								<p-list height="2">
									<div v-for="(answer, index) in current.$odpovedi.filter(x => x.$otazka[0].type === 1)">
										<!-- <div v-if="questionLimitOff || index < questionLimit"> -->
											<p-offset class="reverse">
												<div class="strong">
													<div class="_mw">
														{{ answer.$otazka[0].question }}
													</div>
												</div>
												<div>
													<p-box-group>
														<p-box :to="'/otazka/' + answer.question">
															<p-box-button color="var(--blue)">Porovnat</p-box-button>
														</p-box>
													</p-box-group>
												</div>
											</p-offset>
											<div class="p-gap _05"></div>
											<div v-if="answer.quick" class="serif strong" :style="{color: ['', 'var(--green)', 'var(--red)', null, 'var(--greyish)'][answer.quick]}">
												<p-label :after="true" :color="['', 'var(--green)', 'var(--red)', 'var(--blue)', 'var(--greyish)'][answer.quick]" title="Rychlá odpověď, např do volební kalkulačky">
													{{ ['', 'ANO', 'NE', 'je to složitější', 'nechci odpovídat'][answer.quick] }}
												</p-label>
											</div>
											<div v-if="answer.answer" v-html="answer.answer" class="serif _mw"></div>
											<template v-if="answer.source && answer.source.charAt(0) === 'h'">
												<div class="p-gap"></div>
												<p-link class="smaller strong" :href="answer.source">Více k tomuto tématu</p-link>
											</template>
										<!-- </div> -->
									</div>
								</p-list>
							</p-block>
							<p-block headline="Z volební kalkulačky" v-if="current.$odpovedi.find(x => x.$otazka[0].type === 3)">
								<p-list height="2">
									<div v-for="(answer, index) in sortBy(current.$odpovedi.filter(x => x.$otazka[0].type === 3), 'question')">
										<!-- <div v-if="questionLimitOff || index < questionLimit"> -->
											
											<div class="strong _mw">
												{{ answer.$otazka[0].question }}
											</div>
											<div class="p-gap _05"></div>
											<p-box-group>
												<p-box>
													<!-- <p-box-color :color="['', 'var(--green)', 'var(--red)', null, 'var(--greyish)'][answer.quick]"></p-box-color> -->
													<p-box-label :background="['', 'var(--green)', 'var(--red)', 'var(--blue44)', 'var(--greyish)'][answer.quick]" color="#fff">
														{{ ['', 'ANO', 'NE', 'Je to složitější', 'Nechci odpovídat'][answer.quick] }}
													</p-box-label>
												</p-box>
												<p-box v-if="answer.important === 1">
													<p-box-label class="" background="var(--greyish)">!!!</p-box-label>
												</p-box>
												<p-box-gap></p-box-gap>
												<p-box :to="'/kalkulacka/otazka/' + answer.question">
													<p-box-button color="var(--blue)">Porovnat</p-box-button>
												</p-box>
											</p-box-group>
											<template v-if="answer.answer">
												<div class="p-gap _05"></div>
												<div v-html="answer.answer" class="serif _mw"></div>
											</template>
											<!-- <div class="smallest strong blue" v-if="answer.important === 1">Tohle je důležité!</div> -->
											<template v-if="answer.source && answer.source.charAt(0) === 'h'">
												<div class="p-gap"></div>
												<p-link class="smaller strong" :href="answer.source">Více k tomuto tématu</p-link>
											</template>
										<!-- </div> -->
									</div>
								</p-list>
							</p-block>
							<p-block headline="Kalkulačka" :hide="true">
								<p-area background="var(--blue11)">
									<p-box-group class="_pbg">
										<p-box to="/kalkulacka">
											<p-box-button color="var(--blue)">Vyplnit kalkulačku</p-box-button>
										</p-box>
									</p-box-group>
								</p-area>
							</p-block>
							<p-gap height="4"></p-gap>
							<p-block :level="1" :headline="headline">
								<div v-if="current.JMENO">
									<person-preview-block :cand="current" :data="data" :current="{$kandidati: [current]}"></person-preview-block>
								</div>
								<p-gap></p-gap>
								<div v-if="current.NAZEV">
									<party-preview :party="current" :candidates="[]" :election="data.cis.volby[0]" :elections="data"></party-preview>
								</div>
								<div v-if="current.JMENO">
									<party-preview :party="$strana" :candidates="[]" :election="data.cis.volby[0]" :elections="data"></party-preview>
								</div>
								<!-- <p-area class="strong"><router-link :to="'/' + (current.JMENO ? 'kandidat': 'strana') + '/' + current.$odpovedi[0].csu_id">Volební profil</router-link></p-area> -->
								<div class="p-gap _2"></div>
								<p-block-expandable headline="Novinky" :hide="true">
									<p-loader :rule="news">
										<div v-if="news" class="smaller">
											<news-block :news="news" :limit="4" :data="current.$data"></news-block>
										</div>
									</p-loader>
								</p-block-expandable>
							</p-block>
						</div>
					</div>
				</p-loader>
				<p-gap></p-gap>
				<p-block headline="Data" :hide="true">
					<p-grid>
						<li>
							<p-area icon="warning" background="var(--greyish)">
								<p-modal>
									<template #init>
										<button class="inline strong red">Nahlásit chybu</button>
									</template>
									<template #content>
										<strong>Nahlásit chybu</strong>
										<report-form part="Program"></report-form>
									</template>
								</p-modal>
								<div class="smallest dimm">Nefunguje odkaz? Chyba ve jméně?</div>
							</p-area>
						</li>
						<li>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">API a Opendata</button></template>
									<template #content>
										<strong>Kde je archiv údajů a odkud se tahají data?</strong>
										<div class="p-gap _05"></div>
										<p-list>
											<p-stats label="Permalink"><p-link :href="'https://programydovoleb.cz/volby/evropske-volby/161' + $route.path"></p-link></p-stats>
											<p-stats label="API"><p-link :href="'https://api.programydovoleb.cz/pointers/qa/' + table + ':' + tableID"></p-link></p-stats>
										</p-list>
									</template>
								</p-modal>
								<div class="smallest dimm">Jednoduché volání, JSON</div>
							</p-area>
						</li>
						<li>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">Admin - správa údajů</button></template>
									<template #content>
										<strong>Administrace údajů</strong>
										<div class="p-gap _05"></div>
										<div class="smaller">Máte zájem spravovat informace na této stránce? Získejte přístup do Adminu. Stačí poslat žádost a ověřit, že jste oprávněná osoba nebo kancelář strany či hnutí, které se tyto údaje týkají a která bude údaje pravdivě a svědomitě spravovat.</div>
										<div class="p-gap"></div>
										<div class="strong">
											<p-link :href="'https://admin.programydovoleb.cz/zadost/' + table + ':' + tableID + '?source=https://eu2024.programydovoleb.cz' + $route.fullPath" class="button">Vyplnit žádost</p-link>
										</div>
									</template>
								</p-modal>
								<div class="smallest dimm">Spravujte údaje na této stránce</div>
							</p-area>
						</li>
					</p-grid>
				</p-block>
			</p-block>			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'12rem'" v-if="!data"></p-logo>
			<p-logo v-if="data && current.NAZEV" :data="{logo: logoByItem(current, data) || cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<p-image v-if="data && current.JMENO" :src="con(current.$data, 'photo') || (($strana ? logoByItem($strana, data) : null) || logoByItem(current, data, 'NSTRANA'))" width="12rem" :rounded="true"></p-image>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.25">
				<div v-if="data">
					<p-list class="smaller invisible" v-if="current.NAZEV">
							<li>
								<p-area :icon="logoByItem(current, data)">
									<router-link :to="'/strana/' + current.id" class="strong">Zobrazit<br>profil</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li v-if="current.$program.length > 0">
								<p-area icon="icon-party" background="var(--blue11)">
									<router-link :to="'/strana/' + current.$program[0].csu_id + '/volebni-program/' + current.$program[0].id + '#plne-zneni'" class="strong">Celý volební program</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li v-if="current.$otazky.find(x => x.type === 2)">
								<p-area icon="detail" background="var(--blue11)">
									<router-link :to="'/strana/' + current.$program[0].csu_id + '/volebni-program/' + current.$program[0].id + '#vybrana-temata'" class="strong">Vybraná<br>témata</router-link>
									<!-- <div class="dimm smallest">Zobrazit a porovnat</div> -->
								</p-area>
							</li>
							<li>
								<p-area icon="answers-mini" background="var(--blue11)">
									<router-link :to="'/strana/' + current.$odpovedi[0].csu_id + '/otazky-a-odpovedi'" class="strong">Otázky<br>a odpovědi</router-link>
									<!-- <div class="dimm smallest">Nejen do kalkulačky</div> -->
								</p-area>
							</li>
						<!-- </p-grid> -->
					</p-list>
					<p-list class="smaller invisible" v-if="current.JMENO">
							<li>
								<p-area :icon="logoByItem($strana, data)">
									<router-link :to="'/strana/' + $strana.id" class="strong">Zobrazit<br>profil</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li v-if="$strana.$program.length > 0">
								<p-area icon="icon-party" background="var(--blue11)">
									<router-link :to="'/strana/' + $strana.id + '/volebni-program/' + $strana.$program[0].id + '#plne-zneni'" class="strong">Celý volební program</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li v-if="$strana.$program.length > 0">
								<p-area icon="detail" background="var(--blue11)">
									<router-link :to="'/strana/' + $strana.id + '/volebni-program/' + $strana.$program[0].id + '#vybrana-temata'" class="strong">Vybraná<br>témata</router-link>
									<!-- <div class="dimm smallest">Zobrazit a porovnat</div> -->
								</p-area>
							</li>
							<li>
								<p-area icon="answers-mini" background="var(--blue11)">
									<router-link :to="'/strana/' + $strana.id + '/otazky-a-odpovedi'" class="strong">Otázky<br>a odpovědi</router-link>
									<!-- <div class="dimm smallest">Nejen do kalkulačky</div> -->
								</p-area>
							</li>
						<!-- </p-grid> -->
					</p-list>
				</div>
				<div>
					<strong>Novinky</strong>
					<div class="p-gap"></div>
					<p-loader :rule="news">
						<div v-if="news" class="small">
							<news-block :news="news" :limit="2" :data="current.$data"></news-block>
						</div>
					</p-loader>
				</div>
				<div>
					<p-list class="smaller invisible">
						<div>
							<p-area background="#fff" icon="https://static.programydovoleb.cz/logo/darujme.png">
								<p-link href="https://darujme.cz/programydovoleb" class="green strong">Přispějte na<br>tento projekt</p-link>
							</p-area>
						</div>
						<div>
							<p-area icon="people-symbol" background="var(--blue11)">
								<router-link to="/aktivity/kdo-se-stane-europoslancem" class="strong">Tipněte si,<br>kdo uspěje</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="icon-false" background="var(--blue11)">
								<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební<br>eurokvíz</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="party" background="var(--blue11)">
								<router-link to="/aktivity/volebni-anketa" class="strong">Předvolební<br>anketa</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="icon-election" background="var(--blue11)">
								<router-link to="/aktivity/odhad-vysledku" class="strong">Odhad<br>výsledku</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="answers-mini" background="var(--blue11)">
								<router-link to="/otazky" class="strong">Porovnejte<br>si odpovědi</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="icon-check" background="var(--blue11)">
								<router-link to="/kalkulacka" class="strong">Volební<br>kalkulačka</router-link>
							</p-area>
						</div>
					</p-list>
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>