.polls-preview---split {
	display: flex;
	align-items: center;
	justify-content: space-between;

  & > :first-child {
    width: 9rem;
    // text-align: right;
    margin-right: 1rem;
  }

  & > :nth-child(2) {
    width: auto;
    flex: 1 0 auto;
  }
}

._w {
  width: 4em;
  white-space: nowrap;
  text-align: right;
}