<div class="graph-polls-parties" :class="{'has-previous': !!previous}">
	<p-loader :rule="parties">
		<div v-if="parties">
			<!-- <p-area> -->
				<p-list padding="05rem">
					<template v-for="(entry, indexE) in poll.entries">
						<div class="polls-preview---split smaller">
							<div v-if="parties.list.find(x => x.VSTRANA === entry.party)">
								<span :class="{dimm: entry.value < 5}">
									{{ parties.list.find(x => x.VSTRANA === entry.party) ? parties.list.find(x => x.VSTRANA === entry.party).ZKRATKA || 'xxx' : entry.party }}
								</span>
							</div>
							<div v-if="!parties.list.find(x => x.VSTRANA === entry.party)">
								{{entry.name}}
							</div>
							<div>
								<p-line-graph label="" :value="entry.value * (100 / poll.entries[0].value)" :color="entry.value < 5 ? '#aaaaaa88' : colorByItem(parties.list.find(x => x.VSTRANA === entry.party), {cis: {strany: parties.list}})"></p-line-graph>
							</div>
							<div class="_w">
								 {{ number(entry.value, 1) }} %
							</div>
							<div v-if="previous && previous.entries.find(x => x.party === entry.party)" class="text-right smallest _w" :class="indicator(entry.value, previous.entries.find(x => x.party === entry.party).value)">
								{{ number(entry.value - previous.entries.find(x => x.party === entry.party).value, 1, true) }}
							</div>
							<div v-if="previous && !previous.entries.find(x => x.party === entry.party)" class="text-right smallest _w dimm">
								
							</div>
						</div>
					</template>
				</p-list>
			<!-- </p-area> -->
		</div>
	</p-loader>
</div>
