._plg {
	min-width: 8em;
}

._ws {
	white-space: nowrap;
}

._s {
	font-size: 1.6rem;
	@media (min-width: 960px) {
		font-size: 2rem;
	}
}

._action {
    position: absolute;
    top: 0em;
    right: -.5em;
}

._mw {
	max-width: 40em;
}

._area {
	position: relative;

	h1 {
		margin-top: 0;
		line-height: 1.2;

		div {
			padding-top: .2em;
		}
	}
}

td.text-right, ._w {
	width: 2em;
}

._pbg {
  max-width: 40rem;
  margin: auto;
  justify-content: center;

  .p-box-image {
    border-radius: 4px;
  }
}

._vat td {
	// vertical-align: top;
}

._oppose {
	background: var(--red11);
}