<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Jak volit do Evropského parlamentu" :level="1" anchor="Jak volit?">
				<p>Volby do Evropského parlamentu jsou v mnohém podobné jako sněmovní nebo krajské volby. Když dojde na samotné hlasování, tak jediným rozdílem je počet kroužků, které můžete na kandidátní listině udělat a tím vyjádřit, koho byste v europarlamentu viděli raději než ostatní. <strong>Zakroužkovat můžete až dva kandidáty</strong>.</p>
				<div class="p-gap"></div>
				<p-block headline="Kdy a kde se volí?">
					<p>V České republice se volí tradičně v pátek a sobotu. Tentokrát jsou eurovolby <strong>7. a 8. června</strong>. V jiných zemích EU probíhají také, termín se liší podle místních zvyklostí, někde volí ve čtvrtek, jinde v sobotu. Poslední voliči odevzdají své hlasy v neděli v 22:00.</p>
					<p-grid>
						<div>
							<p-area borderColor="var(--blue)">
								<strong>v pátek 7. června</strong>
								<div>od 14:00 do 22:00</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--blue)">
								<strong>v sobotu 8. června</strong>
								<div>od 8:00 do 14:00</div>
							</p-area>
						</div>
					</p-grid>
				</p-block>
				<p-block headline="Kdo může volit?">
					<p>Volit může <strong>každý občan České republiky</strong>, kterému bylo 18 let. Pokud máte 18. narozeniny v sobotu 8. června 2024, můžete jít volit také, v pátek i v sobotu. Důležité je až sobotní datum, kdy se hlasy sčítají. <strong>Účast je dobrovolná</strong>.</p>
					<p>Volit může také <strong>občan jiné členské země EU</strong>, pokud splnil potřebné podmínky: má zde trvalý nebo přechodný pobyt a je zapsán na zvlášním seznamu voličů pro evropské volby. Pokud už v České republice v eurovolbách volil v minulosti a ze seznamu se neodhlásil, je v něm veden i nadále a může tedy opět přijít volit.</p>
					<p-gap></p-gap>
					<p-grid>
						<div>
							<p-area borderColor="var(--green)" icon="snemovni-volby">
								<strong>Občan České republiky</strong>
								<div class="smaller">starší 18 let</div>
								<div class="smaller">platná občanka nebo pas</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--yellow)" icon="evropske-volby">
								<strong>Občan jiné země EU</strong>
								<div class="smaller">starší 18 let</div>
								<div class="smaller">trvalý či přechodný pobyt</div>
								<div class="smaller">registrován k eurovolbám</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--red)" icon="icon-against">
								<strong>Občan jiné země</strong>
								<div class="smaller">volit nemůže</div>
							</p-area>
						</div>
					</p-grid>
				</p-block>
				<p-block headline="Kde mohu volit?">
					<p>Volit můžete v místě svého trvalého bydliště, které by se nemělo lišit od místa, kam běžně chodíte volit. <strong>Adresu najdete na volební obálce</strong>, která vám přijde domů.</p>
					<p>Pokud víte, že tam nebudete, protože budete třeba na chatě, na pracovní cestě, ve škole, nebudete to stíhat nebo prostě bydlíte někde jinde, budete potřebovat <strong>voličský průkaz</strong>. S ním můžete volit v libovolné volební místnosti v celé České republice.</p>
					<p-gap></p-gap>
					<p-grid>
						<div>
							<p-area borderColor="var(--red)" background="var(--blue11)">
								<strong>Co když budu v zahraničí?</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">Bohužel ze zahraničí v eurovolbách volit nelze. Bez ohledu na to, zda budete v jiné zemi EU, kde volby budou také probíhat, nebo ne.</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--red)" background="var(--blue11)">
								<strong>Mohu za sebe někoho poslat?</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">To také nejde. Hlasování musí být vždy osobně. Prozatím nemáme korespondenční ani elektronickou volbu.</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--blue44)" background="var(--blue11)">
								<strong>Co když bydlím v jiné zemi EU?</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">Abyste mohli volit v jiné zemi EU, musíte tam mít přechodný nebo trvalý pobyt a být registrovaní k volbám. Volby se pak pro vás řídí jejich pravidly, včetně termínu nebo místa.</div>
							</p-area>
						</div>
					</p-grid>
				</p-block>
				<p-block headline="Voličské průkazy">
					<p>Pokud chcete volit jinde, než je vaše trvalé bydliště, budete potřebovat voličský průkaz. Je to papírový úřední doklad, na kterém úřad potvrzuje, že vás vyškrtnul pro tyto konkrétní volby ze seznamu voličů a že můžete volit kdekoli jinde. Můžete o něj žádat osobně na svém úřadě, poslat <p-link href="https://www.mvcr.cz/volby/soubor/vzor-zadost-o-vydani-volicskeho-prukazu-obecni-urad.aspx">vyplněný vzor</p-link> poštou či datovkou nebo využít <p-link href="https://gov.cz/kam-dal/volicsky-prukaz-2024-online">Portál občana</p-link>.</p>
					<p>Voličský průkaz dostanete na úřadě okamžitě, nebo vám přijde poštou na adresu, kterou zadáte do žádosti. Jakmile o voličský průkaz zažádáte, nemůžete jít volit bez něj.</p>
					<p>U voleb pak u volební komise jdete ke speciálnímu stolečku, kde si opíšou údaje z občanky nebo pasu a také potvrdí, že jste voličský průkaz použili. Až tam také dostanete volební lístky.</p>
					<p-gap></p-gap><p-grid>
						<div>
							<p-area borderColor="var(--blue)" background="var(--blue11)">
								<strong>Osobně do 5. června</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">nejpozději do 16:00</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--blue)" background="var(--blue11)">
								<strong>Datovka / Portál do 31. května</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">nejpozději do 16:00</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--blue)" background="var(--blue11)">
								<strong>Písemně do 31. května</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">V tento den to musí na úřad přijít.</div>
							</p-area>
						</div>
					</p-grid>
				</p-block>
				<p-block headline="Jak se volí?">
					<ol class="p-list">
						<li><p>V den voleb si stačí vzít <strong>platnou občanku</strong> nebo pas a jít do vaší volební místnosti. Pokud jste dostali domů volební lístky, vezměte je také, ale pokud náhodou ne, tak nezoufejte, dostanete je ve volební místnosti. Pokud jste zažádali a dostali <strong>voličský průkaz</strong>, nezapomeňte na něj, bez něj nebudete moct odvolit. S voličským průkazem můžete jít volit kamkoli, klidně i v místě bydliště, kde byste bez něj normálně volili.</p></li>
						<li><p>Ve volební místnosti je urna, plenta a komise složená z několika lidí, kteří zajišťují průběh voleb i kontrolují jejich průběh. Jsou u stolků označených lístkem (např "A-K") podle příjmení voličů. Pokud máte voličský průkaz, bývá pro vás speciální stoleček.</p></li>
						<li><p>Člen komise si od vás vezme občanku a/nebo pas, případně také voličský průkaz. Zkontroluje vás podle fotky. Po ověření vám vrátí doklad, podá speciální volební obálku a pokud nemáte, tak i volební lístky. S nimi půjdete za plentu.</p></li>
						<li><p><strong>Prostor za plentou</strong> slouží k tomu, abyste sami, bez dohledu a přítomnosti kohokoli jiného, mohli vybrat svobodně a tajně stranu, které chcete dát svůj hlas. Každá strana má svůj samostatný volební lístek, papír se seznamem kandidátů. Na něm můžete <strong>zakroužkovat jednoho nebo dva kandidáty</strong>, které byste viděli v europarlamentu nejradši. Pokud nechcete, kroužkovat nemusíte. Ať vyberete kohokoli, lístek pak vložte do obálky, kterou jste dostali, a jděte k urně.</p></li>
						<li><p>Urna stojí na viditelném místě a patří do ní jen ta speciální obálka s jedním hlasovacím lístkem. Ostatní na vás vidí, ale nevidí, jak jste se rozhodli. Po vhození můžete vše ostatní přetrhnout (stačí jen trošku) a vyhodit do připravených košů na odpad.</p></li>
						<li><p><strong>Hotovo.</strong></p></li>
					</ol>
					<p-line></p-line>
					<h3>Co se stane, když...?</h3>
					<p-grid>
						<div>
							<p-area borderColor="var(--yellow)">
								<strong>pomaluju hlasovací lístek?</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">Váš hlas se počítá vždy, pokud je čitelné, o jakou stranu jde.</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--yellow)">
								<strong>natrhnu hlasovací lístek?</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">Pokud nedojde k úplnému přetržení, lístek je platný a plnohodnotný.</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--yellow)">
								<strong>zakroužkuju víc kandidátů?</strong>
								<p-gap height=".25"></p-gap>
								<div class="smaller">Lístek je platný, ale na kroužky se nebere ohled. Prostě jako kdybyste nekroužkovali.</div>
							</p-area>
						</div>
					</p-grid>
					<p-gap></p-gap>
					<div class="smaller">Ve všech těchto případech můžete komisi požádat o nové lístky.</div>
					<p-line></p-line>
					<h3>Na co si dát pozor?</h3>
					<p-grid class="strong">
						<div>
							<p-area borderColor="var(--red)">Ve volební místnosti nesmíte žádnou stranu propagovat.</p-area>
						</div>
						<div>
							<p-area borderColor="var(--red)">Nesmíte být opilý nebo zdrogovaný ani jinak rušit.</p-area>
						</div>
						<div>
							<p-area borderColor="var(--red)">Nesmíte nikoho doprovázet za plentu, každý volí sám.</p-area>
						</div>
					</p-grid>
					<p-gap></p-gap>
					<div class="smaller">Do místnosti nelze přivést ani zvíře ani přinést alkohol.</div>
				</p-block>
				<p-block headline="Kdy budou výsledky?">
					<p>Výsledky budou až po uzavření volebních místností v celé EU. Na rozdíl od jiných voleb tak nebudou už v sobotu ve 14:00, ale nejdřív <strong>v neděli ve 22:00</strong>. Takže si klidně užijte víkend. Nedočkavci v neděli v noci určitě budou sledovat, ostatní se výsledky za Českou republiku a celou EU dozví v pondělí ráno.</p>
				</p-block>
				<p-block headline="Pamatujte">
					<p-area background="var(--blue11)">
						<p-list>
							<div><strong>Účast je dobrovolná.</strong> Nikdo vás k volbám nesmí nutit.</div>
							<div><strong>Volba je svobodná.</strong> Nikdo vám nemůže vnucovat, koho musíte či nesmíte volit.</div>
							<div><strong>Volba je tajná.</strong> Nikdo nemá právo vidět, pro koho hlasujete. A nikomu to nemusíte ani poté říkat.</div>
							<div><strong>Rozhodnutí je na vás.</strong> <router-link to="/volebni-pruzkumy">Průzkumy</router-link>, <router-link to="/kalkulacka">kalkulačky</router-link>, debaty i tento web jsou jen pomůckami při rozhodování.</div>
							<div><strong>Volby jsou svátek.</strong> Nemusíte se extra strojit, ale slušnost, ohleduplnost a střízlivost jsou vždy vítány.</div>
							<div><strong>Kampaň končí před volební místností.</strong> Uvnitř nesmí nikdo nikoho přesvědčovat, ani nikoho propagovat.</div>
						</p-list>
					</p-area>
				</p-block>
				<p-gap></p-gap>
				<p-block headline="Chci vědět více!" :level="1">
					<!-- <p-block headline="Programy do voleb" :hide="true" class="_p0"> -->
						<p-grid>
							<div>
								<p-area icon="people-symbol" borderColor="var(--blue)">
									<strong>Kdo kandiduje?</strong>
									<p-gap height=".25"></p-gap>
									<div class="smaller">Vše najdete na tomto webu, seznam stran, kandidátů i volebních programů.</div>
									<p-gap height=".5"></p-gap>
									<div><router-link to="/prehled" class="btn">Zobrazit přehled</router-link></div>
								</p-area>
							</div>
							<div>
								<p-area icon="answers" borderColor="var(--blue)">
									<strong>Kdo má jaké názory?</strong>
									<p-gap height=".25"></p-gap>
									<div class="smaller">Porovnejte si odpovědi stran a kandidátů na různé otázky</div>
									<p-gap height=".5"></p-gap>
									<div><router-link to="/otazky" class="btn">Zobrazit otázky</router-link></div>
								</p-area>
							</div>
							<div>
								<p-area icon="icon-party" borderColor="var(--blue)">
									<strong>Kde jsou volební programy?</strong>
									<p-gap height=".25"></p-gap>
									<div class="smaller">Kopie všech dostupných programů, priority i zálohy najdete zde</div>
									<p-gap height=".5"></p-gap>
									<div><router-link to="/" class="btn">Zobrazit programy</router-link></div>
								</p-area>
							</div>
						<!-- </p-grid> -->
					<!-- </p-block> -->
					<!-- <p-block headline="Instituce a zákony" :hide="true" class="_p0"> -->
						<!-- <p-grid> -->
							<div>
								<p-area icon="evropske-volby" borderColor="var(--blue)">
									<strong>Oficiální web Evropského parlamentu k volbám v celé Evropské Unii</strong>
									<p-gap height=".5"></p-gap>
									<div>
										<p-link href="https://www.zakonyprolidi.cz/cs/2003-62" class="btn">Zobrazit</p-link> 
										<p-link href="https://elections.europa.eu/video/cs/" class="btn">Video</p-link>
									</div>									
								</p-area>
							</div>
							<div>
								<p-area icon="link" borderColor="var(--blue)">
									<strong>Oficiální informace Ministerstva vnitra pro voliče, kandidáty a komise</strong>
									<p-gap height=".5"></p-gap>
									<div><p-link href="https://www.mvcr.cz/volby/clanek/volby-do-evropskeho-parlamentu-2024.aspx" class="btn">Otevřít</p-link></div>
								</p-area>
							</div>
							<div>
								<p-area icon="link" borderColor="var(--blue)">
									<strong>Volby do Evropského parlamentu se řídí zákonem č. 62/2003 Sb.</strong>
									<p-gap height=".5"></p-gap>
									<div><p-link href="https://www.zakonyprolidi.cz/cs/2003-62" class="btn">Zobrazit</p-link></div>
								</p-area>
							</div>
						<!-- </p-grid> -->
					<!-- </p-block> -->
					<!-- <p-block headline="Zajímavé odkazy" :hide="true" class="_p0"> -->
						<!-- <p-grid> -->
							<div>
								<p-area icon="icon-check" borderColor="var(--blue)">
									<strong>Volební kalkulačka</strong>
									<p-gap height=".25"></p-gap>
									<div class="smaller">Pomocí volební kalkulačka zjistíte, kdo vám je názory blíže.</div>
									<p-gap height=".5"></p-gap>
									<div><router-link class="btn btn-primary" to="/kalkulacka">Vyzkoušet</router-link> <p-link href="https://www.volebnikalkulacka.cz/" class="btn">Jiná</p-link></div>
								</p-area>
							</div>
							<div>
								<p-area icon="link" borderColor="var(--blue)">
									<strong>Veřejnoprávní zpravodajství</strong>
									<p-gap height=".25"></p-gap>
									<div class="smaller">Informovanost v rámci zákonných mantinelů a s veřejným dohledem</div>
									<p-gap height=".5"></p-gap>
									<div>
										<p-link href="https://ct24.ceskatelevize.cz/tema/volby-do-evropskeho-parlamentu-2681"class="btn">ČT</p-link> 
										<p-link href="https://www.irozhlas.cz/volby/evropsky-parlament-2024"class="btn">ČRo</p-link> 
										<p-link href="https://www.ceskenoviny.cz/special/volby-budoucnost-eu/"class="btn">ČTK</p-link>
									</div>
								</p-area>
							</div>
							<div>
								<p-area icon="link" borderColor="var(--blue)">
									<strong>Jak hlasovali europoslanci?</strong>
									<p-gap height=".25"></p-gap>
									<div class="smaller">Přehledy hlasování českých europoslanců na EP_prehledne</div>
									<p-gap height=".5"></p-gap>
									<div>
										<p-link href="https://www.instagram.com/ep_prehledne/"><p-icon icon="ig" size="2em"></p-icon></p-link>
										<p-link href="https://x.com/ep_prehledne"><p-icon icon="tw" size="2em"></p-icon></p-link>
										<p-link href="https://www.facebook.com/EPprehledne"><p-icon icon="fb" size="2em"></p-icon></p-link>
									</div>
								</p-area>
							</div>
						</p-grid>
					<!-- </p-block> -->
				</p-block>
			</p-block>
		</template>
		<template #aside>
			<h3>Důležité odkazy</h3>
			<p-list class="smaller strong">
				<div>
					<router-link to="/prehled">Kdo kandiduje?</router-link>
				</div>
				<div>
					<router-link to="/otazky">Kdo má jaké názory?</router-link>
				</div>
				<div>
					<router-link to="/">Kde jsou volební programy?</router-link>
				</div>
				<div>
					<p-link href="https://www.mvcr.cz/volby/clanek/volby-do-evropskeho-parlamentu-2024.aspx">Oficiální informace Vnitra</p-link>
				</div>
				<div>
					<p-link href="https://www.zakonyprolidi.cz/cs/2003-62">Volební zákon</p-link>
				</div>
				<div>
					<p-link href="https://gov.cz/kam-dal/volicsky-prukaz-2024-online">Portál občana</p-link>
				</div>
			</p-list>
			<p-gap height="2"></p-gap>
			<p-list class="smaller invisible">
				<div>
					<p-area background="#fff" icon="https://static.programydovoleb.cz/logo/darujme.png">
						<p-link href="https://darujme.cz/programydovoleb" class="green strong">Přispějte na<br>tento projekt</p-link>
					</p-area>
				</div>
				<div>
					<p-area icon="people-symbol" background="var(--blue11)">
						<router-link to="/aktivity/kdo-se-stane-europoslancem" class="strong">Tipněte si,<br>kdo uspěje</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-false" background="var(--blue11)">
						<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební<br>eurokvíz</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="party" background="var(--blue11)">
						<router-link to="/aktivity/volebni-anketa" class="strong">Předvolební<br>anketa</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-election" background="var(--blue11)">
						<router-link to="/aktivity/odhad-vysledku" class="strong">Odhad<br>výsledku</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="answers-mini" background="var(--blue11)">
						<router-link to="/otazky" class="strong">Porovnejte<br>si odpovědi</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-check" background="var(--blue11)">
						<router-link to="/kalkulacka" class="strong">Volební<br>kalkulačka</router-link>
					</p-area>
				</div>
			</p-list>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'12rem'" alt="Evropské volby 2024"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
	</p-layout-divided>
</div>