<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block :level="1" headline="Porovnejte si strany a kandidáty" anchor="Porovnejte si">
				<p class="lead">Zde si můžete porovnat strany a kandidáty a jejich odpovědi. Nebo si můžete vybrat téma, které vás zajímá a pročíst si, jak se k němu strany vyjadřují ve svém volebním programu.</p>
			<!-- </p-block> -->
			<!-- <p-block headline="Přehled otázek" :level="1" class="p-block---up"> -->
				<p-loader :rule="elections">
					<div v-if="elections">
						<p-block-expandable headline="Odpovědi kandidátů" :open="true">
							<p-list>
								<div v-for="(q, i) in elections.list[0].$otazky.filter(x => x.type === 1 && x.designated === 2)">
									<p-offset class="reverse balanced">
										<div>
											<p-offset class="balanced">
												<div>
													<p-box-ticker>{{ i + 1 }}</p-box-ticker>
												</div>
												<div>
													{{ q.question }} 
													<div class="smaller serif" v-if="q.comment">{{ q.comment }}</div>
												</div>
											</p-offset>
										</div>
										<div>
											<p-box :to="'/otazka/' + q.id">
												<p-box-button>Porovnat</p-box-button>
											</p-box>
										</div>
									</p-offset>
								</div>
							</p-list>
						</p-block-expandable>
						<p-block-expandable headline="Odpovědi stran" :open="true">
							<p-list>
								<div v-for="(q, i) in elections.list[0].$otazky.filter(x => x.type === 1 && x.designated === 1)">
									<p-offset class="reverse balanced">
										<div>
											<p-offset class="balanced">
												<div>
													<p-box-ticker>{{ i + 1 }}</p-box-ticker>
												</div>
												<div>
													{{ q.question }} 
													<div class="smaller serif" v-if="q.comment">{{ q.comment }}</div>
												</div>
											</p-offset>
										</div>
										<div>
											<p-box :to="'/otazka/' + q.id">
												<p-box-button>Porovnat</p-box-button>
											</p-box>
										</div>
									</p-offset>
								</div>
							</p-list>
						</p-block-expandable>
						<p-block-expandable headline="Odpovědi stran ve volební kalkulačce" anchor="Odpovědi v kalkulačce">
							<p-list>
								<div v-for="(q, i) in elections.list[0].$otazky.filter(x => x.type === 3)">
									<p-offset class="reverse balanced">
										<div>
											<p-offset class="balanced">
												<div>
													<p-box-ticker>{{ i + 1 }}</p-box-ticker>
												</div>
												<div>
													{{ q.question }} 
													<div class="smaller serif" v-if="q.comment">{{ q.comment }}</div>
												</div>
											</p-offset>
										</div>
										<div>
											<p-box :to="'/kalkulacka/otazka/' + q.id">
												<p-box-button>Porovnat</p-box-button>
											</p-box>
										</div>
									</p-offset>
								</div>
							</p-list>
							<p-gap height="2"></p-gap>
							<p-grid>
								<div>
									<p-area icon="icon-check">
										<router-link to="/kalkulacka" class="strong">Vyzkoušet volební kalkulačku</router-link>
										<div class="smallest">40 otázek napoví, kdo vám je blíž</div>
									</p-area>
								</div>
							</p-grid>
						</p-block-expandable>
						<p-block-expandable headline="Volební programy podle témat" anchor="Témata a programy" :open="false">
							<p-list>
								<div v-for="(q, i) in elections.list[0].$otazky.filter(x => x.type === 2)">
									<p-offset class="reverse balanced">
										<div>
											<p-offset class="balanced">
												<div>
													<p-box-ticker>{{ i + 1 }}</p-box-ticker>
												</div>
												<div>
													{{ q.question }} 
													<!-- <div class="smaller serif" v-if="q.comment">{{ q.comment }}</div> -->
												</div>
											</p-offset>
										</div>
										<div>
											<p-box :to="'/otazka/' + q.id">
												<p-box-button>Porovnat</p-box-button>
											</p-box>
										</div>
									</p-offset>
								</div>
							</p-list>
						</p-block-expandable>
					</div>
				</p-loader>	
			</p-block>		
			<p-block headline="Informace pro kandidáty a strany" :level="1" anchor="Pro kandidáty">
				<!-- <p-block headline="Jak vyplňovat?"> -->
					<p>Je několik forem, jak lze odpovědi vyplnit. <router-link to="/pro-kandidaty" class="strong">Admin</router-link> je nejpohodlnější způsob, je dostupný kdykoli a odkudkoli. Strany i kandidáti v něm mohou snadno doplnit či upravit své odpovědi a také přidat další informace, fotky, tiskové zprávy, ukázky volebních materiálů, apod.</p>
					<p>Pokud máte e-mail, který je dohledatelný online nebo je z něj jasné, že patří politické straně nebo hnutí, můžete odpovědi poslat jako prostý text e-mailem.</p>
				
					<p-grid>
						<div>
							<p-area icon="email">
								<a href="mailto:odpovedi@programydovoleb.cz" class="strong smaller">odpovedi@programydovoleb.cz</a>
								<div class="smallest">Stačí zaslat e-mailem z ověřitelné adresy</div>
							</p-area>
						</div>
					</p-grid>

					<p>Všem 30 stranám zároveň přijde dokument ve formátu XLS a Google Sheets, ve kterém budou moct odpovědi připravit a doplnit. Spolu s dokumenty přijde i odkaz do Adminu.</p>

				<!-- </p-block> -->
				<p-block headline="Ke stažení">
					<p>Všechny otázky a instrukce pro zaslání si můžete také stáhnout ve formátech MS Word, Excel nebo Google Drive, který umí export i do dalších formátů.</p>
					<p-list>
						<div>
							
								<strong>Pro kandidáty</strong>
								<div class="smaller">
									<p-link class="strong" href="https://static.programydovoleb.cz/2024/docs/pdv-eu2024-pro-kandidaty.docx">Stáhnout Word</p-link>
									&middot;
									<p-link class="" href="https://docs.google.com/document/d/13Eyrk9u3D7smv6Dm6IeG3-kT14cKm__cvjlWXCu_zDM/edit?usp=sharing">Google Drive</p-link>
								</div>
							
						</div>
						<div>
							
								<strong>Pro strany</strong>
								<div class="smaller">
									<p-link class="strong" href="https://static.programydovoleb.cz/2024/docs/pdv-eu2024-pro-strany.docx">Stáhnout Word</p-link>
									&middot;
									<p-link href="https://docs.google.com/document/d/1pCoarMrmRNk1X9mNL3bTOOomjEa820XbX1hDwsa4AJo/edit?usp=sharing" class="">Google Drive</p-link>
								</div>
							
						</div>
						<div>
							
								<strong>Kalkulačka</strong>
								<div class="smaller">
									<p-link class="strong" href="https://static.programydovoleb.cz/2024/docs/pdv-eu2024-do-kalkulacky.xlsx">Stáhnout Excel</p-link>
									&middot;
									<p-link class="" href="https://docs.google.com/spreadsheets/d/1DQF_NYK-WaCPir-cp_fDPxQc_9kgxctl1_MTD8WZ7jY/edit?usp=sharing">Google Drive</p-link>
								</div>
							
						</div>
					</p-list>
				</p-block>
				<p-block headline="Termín na doplnění">
					<p class="lead">Odpovědi lze doplňovat a upravovat i po 24. květnu, ale znamená to, že si je nemusí přečíst čtenáči v první várce.</p>
					<p>Ostatní otázky je možné doplňovat a upravovat kdykoli až do čtvrtka 6. června do 14:00. Do té doby bude také otevřený Admin pro úpravy všech ostatních údajů.</p>

				</p-block>
			</p-block>	
		</template>
		<template #aside>
			<p-list class="smaller invisible">
				<!-- <p-grid> -->
					<div>
						<p-area icon="icon-check" background="var(--blue11)">
							<router-link to="/kalkulacka" class="strong">Volební<br>kalkulačka</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="people-symbol" background="var(--blue11)">
							<router-link to="/aktivity/kdo-se-stane-europoslancem" class="strong">Tipněte si,<br>kdo uspěje?</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="party" background="var(--blue11)">
							<router-link to="/aktivity/volebni-anketa" class="strong">Předvolební<br>Anketa</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="icon-election" background="var(--blue11)">
							<router-link to="/aktivity/odhad-vysledku" class="strong">Odhad<br>výsledku</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="icon-false" background="var(--blue11)">
							<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební<br>eurokvíz</router-link>
						</p-area>
					</div>
					<div>
						<p-area icon="evropske-volby" background="var(--blue11)">
							<router-link to="/" class="strong">Volební přehled<br>k eurovolbám</router-link>
						</p-area>
					</div>
				<!-- </p-grid> -->
			</p-list>
			<h3 class="serif w400">Programy do voleb, z. s.</h3>
			<div class="smaller">
				Nestranný neziskový projekt, díky kterému si můžete snadno, pohodlně a bez hledání přečíst a
				porovnat volební programy všech stran či kandidátů.
				<p-gap></p-gap>
				<p-link href="https://programydovoleb.cz/o-projektu" class="strong">Více o tomto projektu</p-link>
			</div>
			<div class="p-gap"></div>
			<p-area background="#fff" icon="https://static.programydovoleb.cz/logo/darujme.png" class="smaller strong">
				<p-link href="https://darujme.cz/programydovoleb" class="green">Podpořte<br>Programy</p-link>
			</p-area>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/answers-mini.svg'}" :size="'12rem'" alt="Otázky pro evropské volby 2024"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
	</p-layout-divided>
</div>