a, span {
  display: inline-block;
  border-bottom: none;
}

.share-local a {
  width: 1rem;
  height: 1rem;
  position: relative;
}

.icon-double span,
.icon-double a {
  width: 2.5rem;
  height: 2.5rem;
}
