<div class="engagement-thanks">
	<h4>Pomohla vám tato stránka?</h4>
	<div class="_fi">
		<button @click="() => click(1)" v-if="!used">{{ used ? 'Díky za díky' : 'Ano, díky' }}</button>
		<button @click="() => click(-1)" v-if="!used">Ne</button>
		
		<p-modal v-if="used" class="text-left">
			<template #init><button>Chcete něco doplnit?</button></template>
			<template #content>
				<strong>Vaše zpráva</strong>
				<report-form :noLink="true"></report-form>
			</template>
		</p-modal>
	</div>
	
</div>
