<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block :headline="headline + ' - volební program'" :level="1" :hide="true" anchor="Volební program">
				<p-loader :rule="data">
					<div v-if="data">
						<div v-if="data.list[0]">
							<div class="_float">
								<div v-if="data" class="hide-40rem _float-right">
									<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'8rem'" v-if="!data" alt="Evropské volby 2024"></p-logo>
									<p-logo v-if="data && logoByItem(current, data, null, true)" :data="{logo: logoByItem(current, data)}" :size="'8rem'" :alt="'Logo ' + current.NAZEV"></p-logo>
									<div class="logos" v-if="data && $coalition">
										<template v-for="(coal, index) in $coalition">
											<p-logo :data="logoByItem(coal, data)" :size="logoByItem(current, data, null, true) ? '3rem' : '5rem'" :alt="'Logo ' + coal.NAZEV"></p-logo>
										</template>
									</div>
									<!-- <div class="p-gap"></div> -->
								</div>
								<div>
									<p-headline :level="1">
										Volební program
										<div class="small"><router-link :to="'/strana/' + current.$program[0].csu_id">{{ headline }}</router-link></div>
									</p-headline>
									<div class="serif">
										<div v-if="current.$strana && $strana">
											Na kandidátní listině
											<router-link class="is-span" :to="'/strana/' + $strana.id">
												{{ $strana.NAZEV }}
											</router-link>
										</div>
										<router-link class="is-span" to="/">
											{{ $volby.$about.name }}
										</router-link> 
										&middot; {{ $volby.datum_label || ($volby.datum ? date($volby.datum) : $volby.cirka) }}
									</div>
									<div class="p-gap"></div>
								</div>
							</div>
							<div class="_floar-clear"></div>
							<div v-if="current.NAZEV">
								<p-box-group>
									<p-box :to="'/strana/' + tableID">
										<p-box-button color="var(--blue)">Profil</p-box-button>
									</p-box>
									<template v-if="current.$data.web && current.$data.web.length > 0">
										<p-box :href="current.$data.web[0].value">
											<p-box-button color="var(--blue)">Web</p-box-button>
										</p-box>
									</template>
									<template v-if="current.POCMANDCR">
										<p-box class="strong" :style="{color: current.POCMANDCR > 0 ? 'var(--green)' : 'var(--red)'}">
											<p-box-icon :type="current.POCMANDCR > 0 ? 'icon-check' : 'icon-against'"></p-box-icon>
											<p-box-label>
												<p-lang :value="current.POCMANDCR" :end="['žádný mandát', 'jeden mandát', '%% mandáty', '%% mandátů']"></p-lang>	
											</p-box-label>
										</p-box>
									</template>
									<template v-if="current.$data.social && current.$data.social.length > 0">
											<p-box-gap></p-box-gap>
											<template v-for="(item, index) in links">
												<p-box :href="item.value" class="clean">
													<p-box-icon :type="type(item.value)"></p-box-icon>
												</p-box>
											</template>
									</template>
								</p-box-group>
							</div>
							<div class="p-gap _3"></div>
							<p-block headline="Plné znění" v-if="current.$program.length > 0" :open="!current.$program[0].content" :hide="true">
								<p-area :borderColor="colorByItem(current, data)">
									<h2 class="_m0">{{ current.$program[0].headline || 'Plné znění' }}</h2>
									<div class="smallest">Vloženo {{ date(current.$program[0].updated) }}</div>
									<div class="p-gap"></div>
									<p-box-group class="_spaced">
										<p-box :href="current.$program[0].source" v-if="current.$program[0].source">
											<p-box-button icon="link.svg" color="var(--blue)">Originál</p-box-button>
										</p-box>
										<p-box :href="current.$program[0].backup" v-if="current.$program[0].backup">
											<p-box-button class="dimm">Záloha</p-box-button>
										</p-box>
									</p-box-group>
									<div class="p-gap"></div>
									<p-collapsible label="Rejstřík" v-if="current.$program.length > 0">
										<!-- <p-area> -->
											<div class="columns smaller" v-if="current.$program[0].type != 5">
												<div v-for="(part, index) in JSON.parse(current.$program[0].content)">
													<a @click.prevent="anchorTo('--' + url(truncate((current.$program[0].type === 2 ? part.name : part.headline), 16, true)))" :href="'#--' + url(truncate((current.$program[0].type === 2 ? part.name : part.headline), 16, true))">{{ (current.$program[0].type === 2 ? part.name : part.headline) }}</a>
												</div>
											</div>
											<div class="columns smaller" v-if="current.$program[0].type === 5">
												<div v-for="(part, index) in fullType5">
													<a @click.prevent="anchorTo('--' + url(truncate((current.$program[0].type === 2 ? part.name : part.headline), 16, true)))" :href="'#--' + url(truncate((current.$program[0].type === 2 ? part.name : part.headline), 16, true))">{{ (current.$program[0].type === 2 ? part.name : part.headline) }}</a>
												</div>
											</div>
										<!-- </p-area> -->
									</p-collapsible>
								</p-area>
								<div class="p-gap _3"></div>
								<template v-if="current.$program[0].content && current.$program[0].type === 5">
										<template v-for="(part, index) in fullType5">
												<program-block :parts="part" :hash="url(part.headline)" :headline="part.headline" :color="colorByItem(current, data)"></program-block>
										</template>
								</template>
								<template v-if="current.$program[0].content && current.$program[0].type === 4">
										<template v-for="(part, index) in JSON.parse(current.$program[0].content)">
												<program-block :parts="part" :hash="url(part.headline)" :headline="part.headline" :color="colorByItem(current, data)"></program-block>
										</template>
								</template>
								<template v-if="current.$program[0].content && current.$program[0].type === 3">
										<template v-for="(part, index) in JSON.parse(current.$program[0].content)">
												<program-block :src="part.src" :hash="url(part.headline)" :headline="part.headline" :color="colorByItem(current, data)"></program-block>
										</template>
								</template>
								<template v-if="current.$program[0].content && current.$program[0].type === 2">
										<template v-for="(part, index) in JSON.parse(current.$program[0].content)">
												<program-block :parts="part" :hash="url(part.name)" :headline="part.name" :color="colorByItem(current, data)"></program-block>
										</template>
								</template>
							</p-block>
							<p-block headline="Vybraná témata a otázky k volebnímu programu" anchor="Vybraná témata" :level="1" v-if="current.$otazky.find(x => x.type === 2)">
								
									<template v-for="(question, index) in current.$otazky.filter(x => x && x.type === 2)">
										<p-collapsible :label="question.question" class="">
											<p-list class="invisible" height=".5">
												<template v-for="(answer, indexA) in current.$odpovedi.filter(x => x.question === question.id)">
													<div v-html="answer.answer" class="serif"></div>
												</template>
											</p-list>
											<p-gap></p-gap>
											<router-link :to="'/tema/' + question.id" class="btn">Porovnat s ostatními</router-link>
										</p-collapsible>
									</template>
								
							</p-block>
							<div class="smallest dimm">Volební program je zveřejněn jako čistá kopie textu, bez úprav, pokud to jeho forma dovoluje. A je platný ke dni {{ date(current.$program[0].updated, 3) }}. Pro pohled na formátování, doprovodné fotky, grafy, apod si prosím otevřete originál nebo v případě, že již není dostupný, jeho zálohu. Pokud je dostupná novější verze, prosím dejte vědět na opravte@programydovoleb.cz</div>
							<p-line></p-line>
							<div class="p-gap _3"></div>
							<p-block :level="1" :headline="headline" :hide="true">
								<party-preview-large :party="current" :candidates="[]" :election="data.cis.volby[0]" :elections="data"></party-preview-large>
								<div class="p-gap _2"></div>
								<p-block-expandable headline="Volební priority" v-if="current.$priority.length > 0">
										<!-- <p-list height="1"> -->
											<!-- <p-area background="transparent" padding="0 0 0 .66em" class="serif"> -->
											<p-area>
												<p-list>
													<template v-for="(priority, indexP) in current.$priority">
														<div>
															<!-- <div class="serif"> -->
															<template v-if="priority.headline">
																<div class="serif strong" v-html="priority.headline"></div>
															</template>
															<template v-if="priority.content && priority.content.charAt(0) != '['">
																<div class="serif" v-html="priority.content.split('\n').join('<br>')"></div>
																<div class="p-gap _2 _nlc"></div>
															</template>
															<template v-if="priority.content && priority.content.charAt(0) === '['">
																<!-- <template v-for="(part, index) in JSON.parse(priority.content)"> -->
																	<program-block :parts="{parts: JSON.parse(priority.content)}" :hash="url(priority.headline)" :headline="priority.headline" :color="colorByItem(current, data)"></program-block>
																<!-- </template>														 -->
															</template>
															<!-- </div> -->
														</div>
													</template>
												</p-list>
											</p-area>
											<!-- </p-area> -->
										<!-- </p-list> -->
								</p-block-expandable>
								<p-block-expandable headline="Programové dokumenty" v-if="current.$data.program">
									<p-grid>
										<li v-for="(item, index) in current.$data.program">
											<p-area icon="link">
												<p-link :href="item.source" class="strong">{{ item.value }}</p-link>
												<div class="smallest dimm">
													{{ date(item.updated) }}
													<span v-if="item.label">
														&middot; <p-link :href="item.label" class="dimm">Záloha</p-link>
													</span>
												</div>
											</p-area>
										</li>
									</p-grid>
								</p-block-expandable>
								<p-block-expandable headline="Novinky">
									<p-loader :rule="news">
										<div v-if="news" class="">
											<news-block :news="news" :limit="4" :data="current.$data"></news-block>
										</div>
									</p-loader>
								</p-block-expandable>
								<p-block-expandable headline="Koalice" v-if="current.VSTRANA && data.cis.strany.find(x => x.VSTRANA === current.VSTRANA).$coalition">
									<div class="columns _c">
										<div v-for="(member, index) in data.cis.strany.find(x => x.VSTRANA === current.VSTRANA).$coalition">
											<party-quicklook :VSTRANA="member.VSTRANA" :datum="$volby.datum" :region="current.KRZAST"></party-quicklook>
										</div>
									</div>
								</p-block-expandable>
								<p-block-expandable headline="Strana" v-if="current.VSTRANA && !data.cis.strany.find(x => x.VSTRANA === current.VSTRANA).$coalition">
									<party-quicklook :VSTRANA="current.VSTRANA" :datum="$volby.datum" :region="current.KRZAST"></party-quicklook>
								</p-block-expandable>
								<p-block-expandable headline="Výsledky" v-if="$volby.status === 3">
									<election-results :type="$volby.$about" :id="$volby.id" :election="$volby" :spec="specs" :label="label"></election-results>
								</p-block-expandable>
							</p-block>
						</div>
					</div>
				</p-loader>
				<div class="p-gap _2"></div>
				<p-block headline="Data" :hide="true">
					<p-grid>
						<li>
							<p-area icon="warning" background="var(--greyish)">
								<p-modal>
									<template #init>
										<button class="inline strong red">Nahlásit chybu</button>
									</template>
									<template #content>
										<strong>Nahlásit chybu</strong>
										<report-form part="Program"></report-form>
									</template>
								</p-modal>
								<div class="smallest dimm">Nefunguje odkaz? Chyba ve jméně?</div>
							</p-area>
						</li>
						<li>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">API a Opendata</button></template>
									<template #content>
										<strong>Kde je archiv údajů a odkud se tahají data?</strong>
										<div class="p-gap _05"></div>
										<p-list>
											<p-stats label="Permalink"><p-link :href="'https://programydovoleb.cz/volby/evropske-volby/161' + $route.path"></p-link></p-stats>
											<p-stats label="API"><p-link :href="'https://api.programydovoleb.cz/pointers/program/' + table + ':' + tableID"></p-link></p-stats>
										</p-list>
									</template>
								</p-modal>
								<div class="smallest dimm">Jednoduché volání, JSON</div>
							</p-area>
						</li>
						<li>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">Admin - správa údajů</button></template>
									<template #content>
										<strong>Administrace údajů</strong>
										<div class="p-gap _05"></div>
										<div class="smaller">Máte zájem spravovat informace na této stránce? Získejte přístup do Adminu. Stačí poslat žádost a ověřit, že jste oprávněná osoba nebo kancelář strany či hnutí, které se tyto údaje týkají a která bude údaje pravdivě a svědomitě spravovat.</div>
										<div class="p-gap"></div>
										<div class="strong">
											<p-link :href="'https://admin.programydovoleb.cz/zadost/' + table + ':' + tableID + '?source=https://eu2024.programydovoleb.cz' + $route.fullPath" class="button">Vyplnit žádost</p-link>
										</div>
									</template>
								</p-modal>
								<div class="smallest dimm">Spravujte údaje na této stránce</div>
							</p-area>
						</li>
					</p-grid>
				</p-block>
			</p-block>			
		</template>
		<template #anchors>		
			<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'12rem'" v-if="!data" alt="Evropské volby 2024"></p-logo>
			<p-logo v-if="data && logoByItem(current, data, null, true)" :data="{logo: logoByItem(current, data)}" :size="'12rem'" :alt="'Logo ' + current.NAZEV"></p-logo>
			<div class="logos" v-if="data && $coalition">
				<template v-for="(coal, index) in $coalition">
					<p-logo :data="logoByItem(coal, data)" :size="logoByItem(current, data, null, true) ? '4rem' : '7rem'" :alt="'Logo ' + coal.NAZEV"></p-logo>
				</template>
			</div>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.25">
				<div>
					<strong>Novinky</strong>
					<div class="p-gap"></div>
					<p-loader :rule="news">
						<div v-if="news" class="small">
							<news-block :news="news" :limit="4" :data="current.$data"></news-block>
						</div>
					</p-loader>
				</div>
				<div class="b smallest">
					<p-link href="https://programydovoleb.cz/novinky">Všechny novinky</p-link> &rarr;
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>