<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block :headline="headline + ' - volební program'" :level="1" :hide="true" anchor="Volební program">
				<p-loader :rule="data">
					<div v-if="data">
						<div v-if="data.list[0]">
							<div class="_float">
								<div v-if="data" class="hide-40rem _float-right">
									<p-logo v-if="data && current.NAZEV && logoByItem(current, data)" :data="{logo: logoByItem(current, data) || null}" :size="'12rem'"></p-logo>
									<p-image v-if="data && current.JMENO && con(current.$data, 'photo')" :src="con(current.$data, 'photo') || cdn + 'missing.png'" width="12rem" :rounded="true" :border="true"></p-image>
									<!-- <p-gap></p-gap> -->
								</div>
								<div>
									<p-headline :level="1">
										Volební program
										<div class="small"><router-link :to="'/strana/' + current.$program[0].csu_id">{{ headline }}</router-link></div>
									</p-headline>
									<div class="serif">
										<div v-if="current.$strana && $strana">
											Na kandidátní listině
											<router-link class="is-span" :to="'/strana/' + $strana.id">
												{{ $strana.NAZEV }}
											</router-link>
										</div>
										<router-link class="is-span" to="/">
											{{ $volby.$about.name }}
										</router-link> 
										&middot; {{ $volby.datum ? date($volby.datum) : $volby.cirka }}
									</div>
									<p-gap></p-gap>
								</div>
							</div>
							<p-gap class="_floar-clear"></p-gap>
							<p-block headline="Programové dokumenty" v-if="current.$data.program" :hide="true">
								<p-grid>
									<div v-for="(item, index) in current.$data.program">
										<p-area icon="link">
											<p-link :href="item.source" class="strong">{{ item.value }}</p-link>
											<div class="smallest dimm">
												{{ date(item.updated) }}
												<span v-if="item.label">
													&middot; <p-link :href="item.label" class="dimm">Záloha</p-link>
												</span>
											</div>
										</p-area>
									</div>
								</p-grid>
							</p-block>
							<p-block-expandable headline="Volební priority" v-if="current.$priority.length > 0">
									<!-- <p-list height="1"> -->
										<!-- <p-area background="transparent" padding="0 0 0 .66em" class="serif"> -->
										<p-area>
											<p-list>
												<template v-for="(priority, indexP) in current.$priority">
													<div>
														<!-- <div class="serif"> -->
														<template v-if="priority.content && priority.content.charAt(0) != '['">
															<div class="serif" v-html="priority.content.split('\n').join('<br>')"></div>
															<p-gap height="2" class="_nlc"></p-gap>
														</template>
														<template v-if="priority.content && priority.content.charAt(0) === '['">
															<!-- <template v-for="(part, index) in JSON.parse(priority.content)"> -->
																<program-block :parts="{parts: JSON.parse(priority.content)}" :hash="url(priority.headline)" :headline="priority.headline" :color="colorByItem(current, data)"></program-block>
															<!-- </template>														 -->
														</template>
														<!-- </div> -->
													</div>
												</template>
											</p-list>
										</p-area>
										<!-- </p-area> -->
									<!-- </p-list> -->
							</p-block-expandable>
							<p-block-expandable headline="Rejstřík" v-if="current.$program.length > 0">
								<!-- <p-area> -->
									<div class="columns smaller">
										<div v-for="(part, index) in JSON.parse(current.$program[0].content)">
											<a @click.prevent="anchorTo('--' + url(truncate((current.$program[0].type === 2 ? part.name : part.headline), 16, true)))" :href="'#--' + url(truncate((current.$program[0].type === 2 ? part.name : part.headline), 16, true))">{{ (current.$program[0].type === 2 ? part.name : part.headline) }}</a>
										</div>
									</div>
								<!-- </p-area> -->
							</p-block-expandable>
							<p-block headline="Plné znění" v-if="current.$program.length > 0" :open="!current.$program[0].content" :hide="true">
								<p-area :borderColor="colorByItem(current, data)">
									<h2 class="_m0">{{ current.$program[0].headline || 'Plné znění' }}</h2>
									<div class="smallest dimm">Vloženo {{ date(current.$program[0].updated) }}</div>
									<p-gap></p-gap>
									<p-box-group class="_spaced">
										<p-box :href="current.$program[0].source" v-if="current.$program[0].source">
											<p-box-button icon="link.svg" color="var(--blue)">Originál</p-box-button>
										</p-box>
										<p-box :href="current.$program[0].backup" v-if="current.$program[0].backup">
											<p-box-button class="dimm">Záloha</p-box-button>
										</p-box>
									</p-box-group>
								</p-area>
								<p-gap height="3"></p-gap>
								<template v-if="current.$program[0].content && current.$program[0].type === 4">
										<template v-for="(part, index) in JSON.parse(current.$program[0].content)">
												<program-block :parts="part" :hash="url(part.headline)" :headline="part.headline" :color="colorByItem(current, data)"></program-block>
										</template>
								</template>
								<template v-if="current.$program[0].content && current.$program[0].type === 3">
										<template v-for="(part, index) in JSON.parse(current.$program[0].content)">
												<program-block :src="part.src" :hash="url(part.headline)" :headline="part.headline" :color="colorByItem(current, data)"></program-block>
										</template>
								</template>
								<template v-if="current.$program[0].content && current.$program[0].type === 2">
										<template v-for="(part, index) in JSON.parse(current.$program[0].content)">
												<program-block :parts="part" :hash="url(part.name)" :headline="part.name" :color="colorByItem(current, data)"></program-block>
										</template>
								</template>
							</p-block>
							<p-block headline="Vybraná témata a otázky k volebnímu programu" anchor="Vybraná témata" :level="1" v-if="current.$otazky.find(x => x.type === 2)">
								
									<template v-for="(question, index) in current.$otazky.filter(x => x.type === 2)">
										<p-collapsible :label="question.question" class="smaller">
											<p-list class="invisible" height=".5">
												<template v-for="(answer, indexA) in current.$odpovedi.filter(x => x.question === question.id)">
													<div v-html="answer.answer" class="normal serif"></div>
												</template>
											</p-list>
										</p-collapsible>
									</template>
								
							</p-block>
							<div class="smallest dimm">Volební program je zveřejněn jako čistá kopie textu, bez úprav, pokud to jeho forma dovoluje. A je platný ke dni uveřejnění. Pro pohled na formátování, doprovodné fotky, grafy, apod si prosím otevřete originál nebo v případě, že již není dostupný, jeho zálohu. Pokud je dostupná novější verze, prosím dejte vědět na opravte@programydovoleb.cz</div>
							<p-line></p-line>
							<p-gap height="3"></p-gap>
							<p-block :level="1" :headline="headline">
								<p-grid>
									<div>
										<p-box-group>
											<p-box :to="'/strana/' + current.$program[0].csu_id">
												<p-box-button color="var(--blue)">Volební profil</p-box-button>
											</p-box>
										</p-box-group>
									</div>
								</p-grid>
								<p-gap height="2"></p-gap>
								<p-block headline="Novinky" :hide="true">
									<p-loader :rule="news">
										<div v-if="news" class="smaller">
											<p-list padding="1">
												<template v-for="(news, index) in news.list">
													<div>
														<news-item :data="news" :noSource="true"></news-item>
													</div>
												</template>
											</p-list>
											<template v-if="news.auto && news.auto.length > 0">
												<p-gap></p-gap>
												<p-collapsible label="Další zdroje informací">
													<p-area>
														<div class="columns">
															<div v-for="(item, index) in news.auto">
																<strong>{{ item.title }}</strong>
																<div class="smallest dimm">Zdroj: <p-link :href="item.source">{{ domain(item.source)}}</p-link></div>
															</div>
														</div>
													</p-area>
												</p-collapsible>
											</template>
										</div>
									</p-loader>
								</p-block>
								<p-block headline="Koalice" v-if="current.VSTRANA && data.cis.strany.find(x => x.VSTRANA === current.VSTRANA).$coalition">
									<div class="columns _c">
										<div v-for="(member, index) in data.cis.strany.find(x => x.VSTRANA === current.VSTRANA).$coalition">
											<party-quicklook :VSTRANA="member.VSTRANA" :datum="$volby.datum" :region="current.KRZAST"></party-quicklook>
										</div>
									</div>
								</p-block>
								<p-block headline="Strana" v-if="current.VSTRANA && !data.cis.strany.find(x => x.VSTRANA === current.VSTRANA).$coalition">
									<party-quicklook :VSTRANA="current.VSTRANA" :datum="$volby.datum" :region="current.KRZAST"></party-quicklook>
								</p-block>
								<p-block headline="Výsledky" v-if="$volby.status === 3">
									<election-results :type="$volby.$about" :id="$volby.id" :election="$volby" :spec="specs" :label="label"></election-results>
								</p-block>
							</p-block>
						</div>
					</div>
				</p-loader>
				<p-block headline="Data">
					<p-grid>
						<div>
							<p-area icon="warning" background="var(--greyish)">
								<p-modal>
									<template #init>
										<button class="inline strong red">Nahlásit chybu</button>
									</template>
									<template #content>
										<strong>Nahlásit chybu</strong>
										<report-form part="Program"></report-form>
									</template>
								</p-modal>
								<div class="smallest dimm">Nefunguje odkaz? Chyba ve jméně?</div>
							</p-area>
						</div>
						<div>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">API a Opendata</button></template>
									<template #content>
										<strong>Kde je archiv údajů a odkud se tahají data?</strong>
										<p-gap height=".5"></p-gap>
										<p-list>
											<p-stats label="Permalink"><p-link :href="'https://programydovoleb.cz/volby/evropske-volby/161' + $route.path"></p-link></p-stats>
											<p-stats label="API"><p-link :href="'https://api.programydovoleb.cz/pointers/program/' + table + ':' + tableID"></p-link></p-stats>
										</p-list>
									</template>
								</p-modal>
								<div class="smallest dimm">Jednoduché volání, JSON</div>
							</p-area>
						</div>
						<div>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">Admin - správa údajů</button></template>
									<template #content>
										<strong>Administrace údajů</strong>
										<p-gap height=".5"></p-gap>
										<div class="smaller">Máte zájem spravovat informace na této stránce? Získejte přístup do Adminu. Stačí poslat žádost a ověřit, že jste oprávněná osoba nebo kancelář strany či hnutí, které se tyto údaje týkají a která bude údaje pravdivě a svědomitě spravovat.</div>
										<p-gap></p-gap>
										<div class="strong">
											<p-link :href="'https://admin.programydovoleb.cz/zadost/' + table + ':' + tableID + '?source=https://eu2024.programydovoleb.cz' + $route.fullPath" class="button">Vyplnit žádost</p-link>
										</div>
									</template>
								</p-modal>
								<div class="smallest dimm">Spravujte údaje na této stránce</div>
							</p-area>
						</div>
					</p-grid>
				</p-block>
			</p-block>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'" v-if="!data"></p-logo>
			<p-logo v-if="data && current.NAZEV" :data="{logo: logoByItem(current, data) || cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<p-image v-if="data && current.JMENO" :src="con(current.$data, 'photo') || (($strana ? logoByItem($strana, data) : null) || logoByItem(current, data, 'NSTRANA'))" width="12rem" :rounded="true"></p-image>
			<p-gap></p-gap>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.25">
				<div>
					<strong>Novinky</strong>
					<p-gap></p-gap>
					<p-loader :rule="news">
						<div v-if="news" class="smallest">
							<p-list padding="1">
								<template v-for="(news, index) in news.list">
									<div>
										<news-item :data="news" :noSource="true"></news-item>
									</div>
								</template>
							</p-list>
						</div>
					</p-loader>
				</div>
				<div class="b smallest">
					<p-link href="https://programydovoleb.cz/novinky">Všechny novinky</p-link> &rarr;
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>