i {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  border-radius: 50%;
  transform: translateY(-.15em);
  flex: 0 0 6px;
}

i + * {
  flex: 1;
}

.label-with-dot {
  position: relative;
  display: inline-block;
}

.label-with-dot-flex {
    display: flex;
    align-items: baseline;
}

.label-with-dot-flex---after i {
  order: 100;
  margin-left: .5em;
}
