<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Volby do evropského parlamentu 2024" anchor="Eurovolby 2024" :level="1" subheadline="Programy do voleb" :hide="true">
				<p class="lead">
					Přehledně o volbách do Evropského parlamentu: volební programy, <router-link to="/kandidati">kandidáti</router-link>, <router-link to="/strany">politické strany</router-link>, <router-link to="/volebni-pruzkumy">průzkumy</router-link> a další statistiky a přehledy. <strong>Volby budou 7. a 8. června.</strong>
				</p>
				<p-area icon="answers">
					<strong>Výzva pro strany a kandidáty</strong>
					<div class="smaller">Jdete do voleb? Už máte svůj přístup do <router-link to="/pro-kandidaty" class="strong">Adminu</router-link>? Už dnes můžete vyplnit své údaje a také odpovědi na <router-link to="/otazky" class="strong">volební otázky</router-link> a kalkulačku.</div>
				</p-area>
			</p-block>
			<p-block headline="Hlavní témata" class="p-block---up">
				<p-loader :rule="elections" reserve="10em">
					<div v-if="elections">
						<p-columns class="smaller strong">
							<div v-for="(topic, index) in elections.list[0].$otazky.filter(x => x.type === 2)">
								<router-link :to="'/tema/' + topic.id">{{ topic.question }}</router-link>
							</div>
						</p-columns>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Rychlý přehled" :hide="true">
				<p-offset class="reverse balanced">
					<div>
						<p-headline :level="2">Rychlý přehled</p-headline>		
					</div>
					<div v-if="elections && elections.list[0].status === 1">
						<p-area class="_note" background="var(--blue11)">
							<p-label color="var(--red)">
								<p-modal>
									<template #init><button class="inline red">Předběžný seznam</button></template>
									<template #content>
										<div class="reset">
											<h2>Předběžné informace</h2>
											<p>Zde najdete přehled stran a kandidátů, kteří už nějakou formou oznámili záměr nebo odhodlání kandidovat. Kandidáti uvedeni modře již byli představeni včetně pozice na kandidátce. Ostatní jsou řazeni dle abecedy a nemusí být součástí finální podoby kandidátky. Pořadí a složení se může měnit. Tento přehled bude nahrazen za oficiální přehled, který vydává Český statistický úřad, cca 45 dní před volbami.</p>
										</div>
									</template>
								</p-modal>
							</p-label>
						</p-area>
					</div>	
				</p-offset>	
				<p-loader :rule="elections" reserve="100vh">
					<div v-if="elections">
						<div v-for="(election, index) in [elections.list[0]]">
								<!-- <p-area> -->
									<!-- <p v-if="election.status === 1">Zde najdete přehled stran a kandidátů, kteří už nějakou formou oznámili záměr nebo odhodlání kandidovat. Kandidáti uvedeni modře již byli představeni včetně pozice na kandidátce. Ostatní jsou řazeni dle abecedy a nemusí být součástí finální podoby kandidátky. Pořadí a složení se může měnit. Tento přehled bude nahrazen za oficiální přehled, který vydává Český statistický úřad, cca 45 dní před volbami.</p> -->
									<div v-if="election.typ === 'EP' && election.$strany.length > 0">
										<div class="p-gap _075"></div>
										<div class="smaller" v-if="parties">
											<div class="columns _gap">
												<div v-for="(party, index) in sortBy(election.$strany, 'ZKRATKA', '', true)">
													<party-preview :party="party" :candidates="election.$kandidati.filter(x => x.ESTRANA === party.ESTRANA)" :election="election" :elections="elections"></party-preview>
												</div>

												<div>
													<p-area icon="detail" background="var(--blue11)">
														<router-link to="/prehled" class="strong">Kompletní přehled</router-link>
														<div class="smallest dimm">Strany, kandidáti, koalice</div>
													</p-area>
												</div>

												<div>
													<p-area icon="program-white" background="var(--blue)">
														<router-link to="/pro-kandidaty" class="strong _white">Admin - vyplňte své údaje</router-link>
														<div class="smallest _white">Spravujte svůj profil, odpovězte na volební otázky</div>
													</p-area>
												</div>
											</div>
										</div>
									</div>
							
						</div>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Průzkumy a odhady">
				<p>Ve volbách do Evropského parlamentu se používá d'Hondtova metoda pro přepočet na mandáty. Celá republika je pro tyto účely brána jako jeden volební obvod. U průzkumů proto najdete také orientační přepočet na mandáty. <router-link to="/volebni-pruzkumy">Seznam průzkumů a odhadů.</router-link></p>
				<h4>Nejnovější průzkumy:</h4>
				<p-loader :rule="polls" reserve="300px">
					<div v-if="polls">
						<p-grid>
							<template v-for="(poll, index) in polls.list.filter(x => x.priority === 1)">
								<li v-if="index < 3">
									<p-area>
										<election-poll :data="poll"></election-poll>
									</p-area>
								</li>
							</template>
						</p-grid>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="V médiích" reserve="450px">
				<p-loader :rule="news">
					<div v-if="news" class="smaller">
						<div class="columns _gap">
							<template v-for="(item, index) in news.media">
								<div v-if="index < 8">
									<p-area :borderColor="item.type === 'pr' ? 'var(--blue44)' : null">
										<div>
											<p-link class="strong" :href="item.source">{{ item.value }}</p-link>
										</div>
										<div class="p-gap _05"></div>
										<div class="smallest dimm">
											<router-link :to="'/bod/' + item.csu_table + '/' + item.csu_id" class="is-span dimm">{{ item.$node[0].NAZEV || item.$node[0].JMENO + ' ' + item.$node[0].PRIJMENI }}</router-link>
											<span class="dimm" v-if="item.type === 'pr'"> &middot; Tisková zpráva</span>
										</div>
										<!-- <div class="smallest dimm">
											
												{{ election_types.find(x => x.key.toLowerCase() === item.csu_table.split('_')[1]).name }}
											
										</div> -->
										<div class="smallest dimm">
											{{ date(item.updated) }} &middot; {{ domain(item.source) }}
										</div>										
									</p-area>
								</div>
							</template>
							<div>
								<p-area icon="plus-green" background="var(--greyish)">
									<p-modal>
										<template #init> <button class="inline green strong">Poslat tip na novinku</button> </template>
										<template #content>
											<div class="strong">Odkaz na článek</div>
											<report-form part="Přidat novinku"></report-form>
										</template>
									</p-modal>
									<div class="smallest dimm">Stačí poslat odkaz</div>
								</p-area>
							</div>
						</div>
					</div>
				</p-loader>
			</p-block>
			<p-block-expandable headline="Eurovolby v médiích">
				<p>Evropské volby budou pokrývat mnohá media. Zde najdete odkazy na všechny, které mají pro eurovolby zřízenou sekci nebo tag. Pokud některé chybí, 
					<p-modal class="inline">
						<template #init>dejte vědět</template>
						<template #content>
							<report-form part="Doplnit média"></report-form>
						</template>
					</p-modal>
				</p>
				<h3>Veřejnoprávní</h3>
				<p-grid>
					<li v-for="(media, index) in medialinks.media.vp">
						<p-area :icon="media.logo">
							<strong>{{ media.name }}</strong>
							<div class="smallest dimm">
								otevřít <p-link :href="media.source">{{ domain(media.source) }}</p-link>
							</div>
						</p-area>
					</li>
				</p-grid>
				<h3>Komerční</h3>
				<p-grid>
					<li v-for="(media, index) in medialinks.media.com">
						<p-area :icon="media.logo">
							<strong>{{ media.name }}</strong>
							<div class="smallest dimm">
								<p-link :href="media.source">{{ domain(media.source) }}</p-link>
							</div>
						</p-area>
					</li>
				</p-grid>
				<h3>Mezinárodní</h3>
				<p-grid>
					<li v-for="(media, index) in medialinks.media.int">
						<p-area :icon="media.logo">
							<strong>{{ media.name }}</strong>
							<div class="smallest dimm">
								<p-link :href="media.source">{{ domain(media.source) }}</p-link>
							</div>
						</p-area>
					</li>
				</p-grid>
			</p-block-expandable>
			<p-block-expandable headline="Podcasty">
				<p>Zpravodajské, odlehčené, rozhovory, nebo čistě stranické podcasty, kde se nejspíše dozvíte něco k eurovolbám. <p-modal class="inline">
					<template #init>Dejte vědět</template>
					<template #content>
						<report-form part="Doplnit média"></report-form>
					</template>
					</p-modal>, pokud některý chybí.
				</p>
				<p-columns class="-tight">
					<div>
						<strong>Zpravodajské</strong>
						<ul>
							<li v-for="(media, index) in medialinks.podcasts.news">
								<p-link :href="media.source">{{ media.name }}</p-link>
							</li>
						</ul>
					</div>
					<div>
						<strong>Rozhovory</strong>
						<ul>
							<li v-for="(media, index) in medialinks.podcasts.publicis">
								<p-link :href="media.source">{{ media.name }}</p-link>
							</li>
						</ul>
					</div>
					<div>
						<strong>Odlehčené</strong>
						<ul>
							<li v-for="(media, index) in medialinks.podcasts.light">
								<p-link :href="media.source">{{ media.name }}</p-link>
							</li>
						</ul>
					</div>
					<div>
						<strong>Stranické</strong>
						<ul>
							<li v-for="(media, index) in medialinks.podcasts.party">
								<p-link :href="media.source">{{ media.name }}</p-link>
								<div class="smallest dimm">{{ media.party }}</div>
							</li>
						</ul>
					</div>
				</p-columns>
			</p-block-expandable>
			<p-block headline="Události">
				<p-loader :rule="news && elections">
					<div v-if="news && elections">
						<p-list height="1.5">
							<div class="smallest strong">Nejbližší debaty</div>
							<template v-for="(item, index) in sortEvents(news.events.filter(x => !x.csu_id))">
								<div v-if="JSON.parse(item.label)[0] >= today && index < 3">
									<event-item :item="item" :party="elections.list[0].$strany.find(x => x.id === item.csu_id)" :data="elections"></event-item>
								</div>
							</template>
							<div class="smallest strong">Nejbližší akce stran a koalic</div>
							<template v-for="(item, index) in firstOfUnique(sortEvents(news.events.filter(x => x.csu_id && JSON.parse(x.label)[0] >= today)), 'csu_id')">
								<div v-if="index < 3 || JSON.parse(item.label)[0] === today">
									<event-item :item="item" :party="elections.list[0].$strany.find(x => x.id === item.csu_id)" :data="elections"></event-item>
								</div>
							</template>
							<div class="smallest strong">
								Všechny události, budoucí i již proběhlé, <router-link to="/udalosti">najdete zde</router-link>. Chcete nějakou přidat, stačí 
								<p-modal class="inline">
									<template #init><span class="green">kliknout zde</span></template>
									<template #content>
										<strong>Přidat událost</strong>
										<report-form part="Přidat událost"></report-form>
									</template>
								</p-modal>
							</div>
						</p-list>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Novinky">
				<p-area borderColor="var(--blue)">
					<p-loader :rule="news" reserve="300px">
						<div v-if="news" class="smaller">
							<news-block :news="news" :limit="3"></news-block>
						</div>
						<p-line></p-line>
						<div class="smallest strong">
							<p-offset class="reverse">
								<div>
									<router-link to="/novinky">Všechny novinky</router-link> &rarr;
								</div>
								<div>
									<p-label :after="true" color="var(--red)">
										<p-link href="https://programydovoleb.cz/rss">RSS</p-link>
									</p-label>						
								</div>
							</p-offset>
						</div>
					</p-loader>
				</p-area>
			</p-block>
			<p-grid>
				<li>
					<p-area icon="plus-green" background="var(--greyish)">
						<p-modal>
							<template #init> <button class="inline green strong">Poslat tip na novinku</button> </template>
							<template #content>
								<div class="strong">Odkaz na článek</div>
								<report-form part="Přidat novinku"></report-form>
							</template>
						</p-modal>
						<div class="smallest dimm">Stačí poslat odkaz</div>
					</p-area>
				</li>
				<li>
					<p-area icon="email" background="var(--greyish)">
						<p-modal>
							<template #init>
								<button class="inline strong">Chcete novinky e-mailem?</button>
							</template>
							<template #content>
								<mailchimp-signup></mailchimp-signup>
							</template>
						</p-modal>
						<div class="smallest dimm">Souhrn vždy na konci měsíce</div>
					</p-area>
				</li>
				<li>
					<p-area icon="warning" background="var(--greyish)">
						<p-modal>
							<template #init>
								<button class="inline strong red">Nahlásit chybu</button>
							</template>
							<template #content>
								<strong>Nahlásit chybu</strong>
								<report-form part="Homepage"></report-form>
							</template>
						</p-modal>
						<div class="smallest dimm">Nefunguje odkaz? Chyba ve jméně?</div>
					</p-area>
				</li>
			</p-grid>
			<div class="p-gap _2"></div>
			<div class="p-gap _4"></div>
			<p-block headline="Váš odhad výsledku" :hide="true">
				<engagement-result-tip :data="elections"></engagement-result-tip>
			</p-block>
			<!-- <p-line></p-line> -->
			<div class="p-gap _2"></div>
			<p-block headline="O tomto projektu">
				<p-grid>
					<li>
						<div class="strong blue">Programy do voleb</div>
						<p class="smaller">
							<strong>Nestranný neziskový projekt</strong>, jehož cílem je usnadnit každému, kdo se zajímá o volby, kandidáty a volební programy, aby je našel přehledně a na jednom místě.
							Projekt vznikl v roce 2018 a od té doby pokrývá všechny významné české volby. Od roku 2021 mají <em>Programy do voleb</em> formu zapsaného spolku. 
							Žádná strana ani kandidát nejsou jakkoli zvýhodněni, preferováni nebo doporučováni.
						</p>
						<p-line height=".25"></p-line>
						<div class="p-gap _075"></div>
						<div class="smaller">
							<router-link to="/o-projektu">Více o projektu</router-link>
						</div>						
					</li>
					<li>
						<div class="strong blue">Podpořte tento projekt</div>
						<p class="smaller">
							<em>Programy do voleb</em> existují díky letité dobrovolnické práci a jsou financovány výhradně z darů přispěvatelů. Podpořte je také. Dary je možné odepsat z daní.
						</p>
						<p-box-group>
							<template v-for="(kc, i) in [50, 100, 200, 500]"><p-box :href="'https://www.darujme.cz/darovat/1205354?portalWidget=1&frequency=once&amount=' + kc"><p-box-button color="var(--green)">{{ kc }} Kč</p-box-button></p-box></template>
							<p-box href="https://www.darujme.cz/programydovoleb"><p-box-button color="var(--blue)">Jinou částku</p-box-button></p-box>
						</p-box-group>
						<p-line></p-line>
						<div class="smaller">Programy najdete na <p-link href="https://www.darujme.cz/programydovoleb">Darujme.cz</p-link></div>
					</li>
					<li>
						<div class="strong blue">Jak můžete také pomoct?</div>
						<div class="p-gap _075"></div>
						<p-list height=".5" class="smaller">
							<li>Posílejte tipy na zprávy v médiích</li>
							<li>Dejte vědět, když někdo oznámí záměr kandidovat.</li>
							<li>Sledujte, sdílejte a lajkujte Programy na sociálních sítích.</li>
							<li>Doporučujte Programy všem zájemcům o přehlednější volby.</li>
							<li>Odhalte a <p-modal :inline="true">
								<template #init>
									<button class="inline red">nahlašte</button>
								</template>
								<template #content>
									<div class="text-left">
										<h3>Našli jste chybu? Nebo chcete něco doplnit?</h3>
										<report-form part="Hlášení chyby" :noLink="true"></report-form>
										<p-line></p-line>
										<p>Můžete také napsat na <p-link href="mailto:opravte@programydovoleb.cz">opravte@programydovoleb.cz</p-link></p>
									</div>
								</template>
							</p-modal> chyby.</li>
						</p-list>
					</li>
				</p-grid>
			</p-block>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'12rem'" alt="Evropské volby 2024"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.25">
				<div>
					<strong class="smaller">Novinky</strong>
					<div class="p-gap"></div>
					<p-loader :rule="news" reserve="205px">
						<div v-if="news" class="small">
							<news-block :news="news" :limit="2"></news-block>
						</div>
					</p-loader>
				</div>
				<div class="smallest b">
					<p-offset class="reverse">
						<div>
							<router-link to="/novinky">Archiv novinek</router-link> &rarr;
						</div>
						<div>
							<p-label :after="true" color="var(--red)">
								<p-link href="https://programydovoleb.cz/rss">RSS</p-link>
							</p-label>						
						</div>
					</p-offset>
					
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>