.result a {
  word-break: break-all;
}

.link-addon-icon {
  position: relative;
  width: 1.1em;
  display: inline-block;
}

.addon-icon {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: .05em;
  right: 0;
}

.button a {
  border: none;
}

a:not(.btn):not(.button) {
  border: none;

  @media (hover: hover) {
    &:hover .underline {
      border-color: #066ed2;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
