<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block :headline="headline" :level="1" :hide="true">
				<p-loader :rule="data" reserve="100vh">
					<div v-if="data">
						<div v-if="data.list[0]">
							<div class="_float">
								<div v-if="data" class="hide-40rem _float-right">
									<p-photo v-if="data && current.JMENO && con(current.$data, 'photo', null, null, true)" :data="con(current.$data, 'photo', null, null, true)" :alt="current.JMENO + ' ' + current.PRIJMENI" class="_pm"></p-photo>
									<!-- <div class="p-gap"></div> -->
								</div>
								<div>
									<p-headline :level="1">{{ headline }}</p-headline>
									<div class="serif">
										<div v-if="current.$strana && $strana">
											Na kandidátní listině
											<router-link :to="'/strana/' + $strana.id">
												{{ $strana.NAZEV }}
											</router-link>
										</div>

										<router-link to="/">
											{{ $volby.$about.name }}
										</router-link> 
										&middot; {{ $volby.datum_label || ($volby.datum ? date($volby.datum) : $volby.cirka) }}
									</div>
									<div class="p-gap"></div>
									<p-box-group>
										<template v-if="current.$odpovedi.length > 0">
											<p-box :to="'/kandidat/' + current.$odpovedi[0].csu_id + '/otazky-a-odpovedi'">
												<p-box-button icon="answers-mini.svg">{{ current.$odpovedi.length }}</p-box-button>
											</p-box>
										</template>
										<!-- <template v-if="current.MANDAT === null"> -->
											<p-box>
												<p-box-label v-if="!current.PORCISLO" background="var(--blue44)">Neznámé umístění na kandidátce</p-box-label>
												<p-box-label v-if="current.PORCISLO" background="var(--blue44)">č. {{ current.PORCISLO }}</p-box-label>
											</p-box>
										<!-- </template> -->
										<template v-if="current.MANDAT">
											<p-box class="strong" :style="{color: current.MANDAT === 'A' ? 'var(--green)' : 'var(--red)'}">
												<p-box-icon :type="current.MANDAT === 'A' ? 'icon-check' : 'icon-against'"></p-box-icon>
												<p-box-label>
													<template v-if="current.MANDAT === 'A'">Mandát získán</template>
													<template v-if="current.MANDAT === 'N' && current.PORADINAHR && current.PORADINAHR > 0">Náhradník č. {{ current.PORADINAHR }}</template>	
													<template v-if="current.MANDAT === 'N' && (!current.PORADINAHR || current.PORADINAHR === 0)">Mandát nezískán</template>	
												</p-box-label>
											</p-box>
										</template>
										<template v-if="current.$data.web && current.$data.web.length > 0">
											<p-box :href="current.$data.web[0].value">
												<p-box-button color="var(--blue)">Web</p-box-button>
											</p-box>
										</template>
										<template v-if="current.$data.social && current.$data.social.length > 0">
												<p-box-gap></p-box-gap>
												<template v-for="(item, index) in links">
													<p-box :href="item.value" class="clean">
														<p-box-icon :type="type(item.value)"></p-box-icon>
													</p-box>
												</template>
										</template>
									</p-box-group>
								</div>
							</div>
							<div class="p-gap _floar-clear"></div>
							<p-block headline="Základní údaje" :subheadline="$volby.status > 1 ? 'podle Českého statistického úřadu' : null" :hide="true">
								<p-area class="smaller" background="var(--blue11)">
									<p-split class="-up960">
										<div>
											<p-list height=".5" class="-np">
												<div>
													<div class="smallest strong">Základní údaje</div>
												</div>
												<template v-if="current.JMENO">
													<p-stats label="Celé jméno">
														<div>
															<template v-if="current.TITULPRED">{{ current.TITULPRED + ' ' }} </template>{{ current.JMENO }} {{ current.PRIJMENI }}<template v-if="current.TITULZA">{{ ', ' + current.TITULZA }}</template>
														</div>
													</p-stats>
													<p-stats label="Bio" v-if="current.POVOLANI || (current.$data.mfo && current.$data.mfo.length > 0)">
														<div>
															<p-list-linear class="or">
																<li v-if="current.$data.mfo && current.$data.mfo[0]">{{ ['neuvedeno', 'muž', 'žena', 'jinak', 'nechci uvést'][current.$data.mfo[0].value] }}</li>
																<li v-if="current.POVOLANI">{{ current.POVOLANI }}</li>
															</p-list-linear>
															
														</div>
													</p-stats>
													<p-stats label="Bydliště" v-if="current.BYDLISTEN">
														{{ current.BYDLISTEN }}
														<span v-if="current.BYDLISTEK" class="dimm">
															&middot; <p-link :href="'https://programydovoleb.cz/obec/' + (current.BYDLISTEK > 100 ? current.BYDLISTEK : data.cis.obce.find(x => x.QUICKNUM === current.BYDLISTEK).NUM)" class="smallest dimm">historie voleb</p-link>
														</span>
													</p-stats>
													<p-stats label="Věk" v-if="current.VEK">
														<div>{{ current.VEK }} let</div>
													</p-stats>
												</template>
											</p-list>
										</div>
										<div>
											<p-list height=".5" class="-np">
												<div>
													<div class="smallest strong">Na kandidátce</div>
												</div>
												<template v-if="current.JMENO">
													<p-stats label="Kandidátka" v-if="current.$strana && $strana">
														<div>
															<p-label :color="colorByItem($strana, data)">
																<router-link :to="'/strana/' + $strana.id">
																	{{ $strana.NAZEV }}
																</router-link>
															</p-label>
															<template v-if="current.$strana && $strana.$zastupitelstvo && $strana.$zastupitelstvo[0].OBVODY > 0">
																&middot; obvod {{ current.COBVODU || 1 }}
															</template>
														</div>
													</p-stats>
													<p-stats label="Nominace" v-if="current.NSTRANA && volbyType != 'prezidentske-volby'">
														<div>
															<p-label :color="colorByItem(data.cis.strany.find(x => x.VSTRANA === current.NSTRANA), data)">
																<p-link :href="'https://programydovoleb.cz/rejstrik/' + current.NSTRANA">
																	{{ data.cis.strany.find(x => x.VSTRANA === current.NSTRANA).NAZEV }}
																</p-link>
															</p-label>
														</div>
													</p-stats>
													<p-stats label="Členství" v-if="current.PSTRANA">
														<div>
															<p-label :color="colorByItem(data.cis.strany.find(x => x.VSTRANA === current.PSTRANA), data)">
																<p-link :href="'https://programydovoleb.cz/rejstrik/' + current.PSTRANA">
																	{{ data.cis.strany.find(x => x.VSTRANA === current.PSTRANA).NAZEV }}
																</p-link>
															</p-label>
														</div>
													</p-stats>
													<p-stats label="Pořadí" v-if="current.PORCISLO && current.PORCISLO > 0">
														č. {{ current.PORCISLO }} na kandidátce<template v-if="current.VOLKRAJ">, {{ data.cis.kraje.find(x => x.KRAJ === current.VOLKRAJ).NAZEV }}
														</template>
													</p-stats>
												</template>
											</p-list>
										</div>
									</p-split>
								</p-area>
							</p-block>
							<p-block headline="Představení" v-if="!current.$data.length && (current.$data.about || current.$data.motto || current.$data.values)" :hide="true">
								<p-list height="1" class="invisible">
									<div v-if="current.$data.about">
										<div class="serif _mw">
											<p-truncated :size="60" :content="(current.$data.about.find(x => x.type === 'about').value || '').split('\n').join('<br>')"></p-truncated>
										</div>	
										<div class="smallest dimm">
											<p-line></p-line>
											Vloženo {{ date(current.$data.about.find(x => x.type === 'about').updated) }}
											<span v-if="current.$data.about.find(x => x.type === 'about').source"> &middot; zdroj <p-link :href="current.$data.about.find(x => x.type === 'about').source" class="dimm">{{ domain(current.$data.about.find(x => x.type === 'about').source) }}</p-link></span>
										</div>									
									</div>
									<template v-if="current.$data.motto">
										<div>
											<template v-for="(item, index) in current.$data.motto">
												<p-quote :color="colorByItem(current, data, current.NSTRANA ? 'PSTRANA' : 'VSTRANA')">{{ item.value }}</p-quote>
											</template>
										</div>
									</template>
									<template v-if="current.$data.values">
										<div class="serif">
											<p-grid class="tight">
												<li v-for="(val, indexV) in current.$data.values">
													<p-area :borderColor="colorByItem(current, data)">
														<div class="strong">{{ val.value }}</div>
														<p v-if="val.label"><p-truncated :size="24" :content="val.label"></p-truncated></p>
														<p class="smallest sans dimm">
															Platné {{ date(val.updated) }} 
															<template v-if="val.source">
																&middot;
																zdroj <p-link :href="val.source" class="is-span dimm">{{ domain(val.source) }}</p-link>
															</template>
														</p>
													</p-area>
												</li>
											</p-grid>
										</div>
									</template>
								</p-list>							
							</p-block>
							<p-block headline="Otázky a odpovědi" v-if="current.$otazky.length > 0">
								<template v-if="current.$otazky.find(x => x.type === 1 && (!x.designated || x.designated === 2))">
									<template v-for="(question, index) in current.$otazky.filter(x => x.type === 1 && (!x.designated || x.designated === 2))">
										<p-collapsible :label="getQuestion(question.id)">
											<div class="_mw">
												<strong>{{ question.question }}</strong>
											</div>										
											<div class="p-gap _05"></div>
											<div class="serif _mw">
												<p-truncated :size="120" :content="current.$odpovedi.find(x => x.question === question.id).$odpoved[0].answer"></p-truncated>
												<div class="smallest dimm" v-if="current.$odpovedi.find(x => x.question === question.id).$odpoved[0].source">Více na <p-link :href="current.$odpovedi.find(x => x.question === question.id).$odpoved[0].source">{{ domain(current.$odpovedi.find(x => x.question === question.id).$odpoved[0].source) }}</p-link></div>
											</div>
										</p-collapsible>
									</template>
									<p-line></p-line>
								</template>
								<p-area icon="answers-mini" class="inline smaller">
									<router-link :to="'/kandidat/' + tableID + '/otazky-a-odpovedi'" class="strong">Přečíst všechny odpovědi</router-link>
									<div class="smaller dimm"><p-lang :value="current.$odpovedi.length" :end="['', '', 'Všechny %% odpovědi', 'Všech %% odpovědí']"></p-lang> přehledně</div>
								</p-area>
							</p-block>
							<p-block headline="Volební historie" v-if="current.$profil.length">
								<profile-preview :id="current.$profil[0].profil"></profile-preview>
							</p-block>
							<p-block headline="Odkazy" v-if="linksAll.length > 0">
								<p-list height=".25">
									<div v-for="(item, index) in linksAll">
										<p-box-group>
											<p-box :block="true" :href="item.value" class="clean">
												<p-box-icon :type="type(item.value)"></p-box-icon>
												<p-box-label>
													{{ domain(item.value, true) }}
													<div class="tiny dimm" v-if="item.label">{{ item.label }}</div>
												</p-box-label>
											</p-box>
										</p-box-group>
									</div>
								</p-list>
							</p-block>
							<p-block headline="Kontakty" v-if="contacts.length > 0">
								<p-list height=".25">
									<div v-for="(item, index) in contacts">
										<p-box-group>
											<p-box :block="true" class="clean">
												<p-box-icon :type="item.type"></p-box-icon>
												<p-box-label>
													{{ item.value }}
													<div class="tiny dimm" v-if="item.label">{{ item.label }}</div>
												</p-box-label>
											</p-box>
										</p-box-group>										
									</div>
								</p-list>
							</p-block>
							<p-block headline="Kandidátní listina" v-if="current.$strana && $strana">
								<p-area>
									<p-offset class="reverse">
										<div>
											<!-- <p-label :after="true" :color="colorByItem($strana, data)"> -->
												<router-link class="strong" :to="'/strana/' + $strana.id">
													{{ $strana.NAZEV }}
												</router-link>
											<!-- </p-label> -->
											<div class="p-gap _05"></div>
											<div class="smaller">
												<div v-if="$strana.VSTRANA === 80">
													Nezávislý samostatný kandidát
												</div>
												<div v-if="$strana.VSTRANA === 90">
													Neregistrované sdružení nezávislých kandidátů
												</div>
												<div v-if="$strana.VSTRANA != 90 && $strana.VSTRANA != 80 && !data.cis.strany.find(x => x.VSTRANA === $strana.VSTRANA).$coalition">
													Registrovaná strana či hnutí
												</div>
												<div v-if="$strana.VSTRANA != 90 && $strana.VSTRANA != 80 && data.cis.strany.find(x => x.VSTRANA === $strana.VSTRANA).$coalition">
													Koalice či sdružení jedné či více registrovaných stran a dalších subjektů
												</div>
												<div v-if="typeof $strana.SLOZENI === 'number'">Samostatná kandidátka</div>
												<div v-if="typeof $strana.SLOZENI === 'string'">
													Koalice <p-list-linear>
														<li v-for="(member, index) in data.cis.strany.find(x => x.VSTRANA === $strana.VSTRANA).$coalition">
															<p-link :href="'https://programydovoleb.cz/rejstrik/' + member.VSTRANA">{{ member.ZKRATKA }}</p-link>
														</li>
													</p-list-linear>
												</div>
												<div v-if="typeof $strana.SLOZENI === 'undefined' && !data.cis.strany.find(x => x.VSTRANA === $strana.VSTRANA).$coalition">
													Samostatná kandidátka
												</div>
												<div v-if="typeof $strana.SLOZENI === 'undefined' && data.cis.strany.find(x => x.VSTRANA === $strana.VSTRANA).$coalition">
													Koalice <p-list-linear>
														<li v-for="(member, index) in data.cis.strany.find(x => x.VSTRANA === $strana.VSTRANA).$coalition">
															<p-link :href="'https://programydovoleb.cz/rejstrik/' + member.VSTRANA">{{ member.ZKRATKA }}</p-link>
														</li>
													</p-list-linear>
												</div>
												<div v-if="$strana.ESTRANA && $strana.ESTRANA > 0">
													Volební číslo {{ $strana.ESTRANA }}
												</div>
											</div>
											<template v-if="$strana.$program.length > 0 || ($strana.$data.social && $strana.$data.social.length > 0)">
												<div class="p-gap"></div>
												<p-box-group>
													<template v-if="$strana.$program.length > 0 && $strana.$program[0].source">
														<p-box :href="$strana.$program[0].source">
															<p-box-button color="var(--blue)">Program</p-box-button>
														</p-box>
													</template>
													<template v-for="(item, index) in $strana.$data.social">
															<p-box :href="item.value">
																<p-box-icon :type="type(item.value)"></p-box-icon>
															</p-box>
													</template>
												</p-box-group>
											</template>
											<template v-if=" $strana.$vysledky && $strana.$vysledky.length > 0">
												<p-line></p-line>
												<div class="strong smaller">
													{{ number($strana.$vysledky[0].PROCENT) }} % &middot; <p-lang :value="$strana.$vysledky[0].MANDATU || 0" :end="['žádný mandát', 'jeden mandát', '%% mandáty', '%% mandátů']"></p-lang>
												</div>
											</template>
										</div>
										<div v-if="logoByItem($strana, data)">
											<p-image :src="logoByItem($strana, data)" :rounded="true" width="6em"></p-image>
										</div>
									</p-offset>
								</p-area>
							</p-block>
							<p-block-expandable headline="Videa" v-if="current.$data.video">
								<template v-for="(video, index) in current.$data.video">
									<p-collapsible :label="video.label || 'Volební spot'" :open="index === 0">
										<div class="_video" v-html="video.value" v-if="video.value"></div>
										<div class="_video" v-if="video.source && video.source.split('facebook').length > 1">
											<iframe :src="video.source" width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
										</div>
										<div class="_video" v-if="video.source && video.source.split('youtube').length > 1">
											<iframe width="560" height="315" :src="video.source" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</p-collapsible>
								</template>
							</p-block-expandable>
							<p-block headline="V médiích" v-if="current.$data.media">
								<p-grid>
									<template v-for="(item, index) in current.$data.media">
										<li v-if="index < 6">
											<p-area :borderColor="colorByItem(current, data, current.VSTRANA ? 'VSTRANA' : 'NSTRANA')">
												<p-link :href="item.source" class="smaller strong">{{ item.value }}</p-link>
												<div class="p-gap _075"></div>
												<div class="smallest dimm">{{ item.label || 'Článek' }} &middot; {{ domain(item.source) }}</div>
												<div class="smallest dimm"> Přidáno {{ date(item.updated) }}</div>
											</p-area>
										</li>
									</template>
								</p-grid>
								<template v-if="current.$data.media.length > 6">
									<div class="p-gap"></div>
									<p-collapsible label="Starší záznamy" :status="current.$data.media.length - 6">
										<table class="smaller _vab">
											<template v-for="(item, index) in current.$data.media">
												<tr v-if="index > 5">
													<td>
														<p-link :href="item.source">{{ item.value }}</p-link>
														<div class="smallest dimm">
															{{ domain(item.source) }} &middot; {{ item.label || 'Článek' }} 
														</div>
													</td>
													<td class="smallest dimm text-right">
														{{ date(item.updated) }}
													</td>
												</tr>
											</template>
										</table>
									</p-collapsible>
								</template>
							</p-block>
							<p-block headline="Galerie fotek" v-if="current.$data.gallery">
								<p-grid>
									<li v-for="(item, index) in current.$data.gallery">
										<p-area>
											<p-offset>
												<div>
													<img class="_ar _of" :src="item.value">
												</div>
												<div>
													<p-modal>
														<template #init>
															<div class="smaller">{{ item.label }}</div>
														</template>
														<template #content>
															<p-image width="100%" :src="item.value"></p-image>
															<p-line></p-line>
															<div class="smallest dimm">{{ item.label }} &middot; Přidáno {{ date(item.updated) }} &middot; <p-link :href="item.source">Zdroj</p-link></div>
														</template>
													</p-modal>
													<div class="smallest dimm">{{ date(item.updated) }}</div>
												</div>
											</p-offset>
										</p-area>
									</li>
								</p-grid>
							</p-block>
							<p-block headline="Poznámky" v-if="current.$data.note">
								<p-list height="1.5">
									<div v-for="(item, index) in current.$data.note">
										<div class="serif">
											{{ item.value }}
											<div class="smaller" v-if="item.label" v-html="item.label"></div>
										</div>
										<div class="p-gap _05"></div>
										<!-- <div class="smallest dimm">Vloženo {{ date(item.updated)}}</div> -->
										<div class="smallest dimm">Vloženo {{ date(item.updated)}}, zdroj <p-link :href="item.source" class="dimm">{{ domain(item.source) }}</p-link></div>
									</div>
								</p-list>
							</p-block>
							<p-block headline="Novinky">
								<p-loader :rule="news">
									<div v-if="news" class="">
										<news-block :news="news" :data="current.$data" :limit="4" :expandable="true"></news-block>
									</div>
								</p-loader>
							</p-block>
						</div>
					</div>
				</p-loader>
				<p-block headline="Data">
					<p-grid>
						<li>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">API a Opendata</button></template>
									<template #content>
										<strong>Kde je archiv údajů a odkud se tahají data?</strong>
										<div class="p-gap _05"></div>
										<p-list>
											<p-stats label="Permalink"><p-link :href="'https://programydovoleb.cz/volby/evropske-volby/161' + $route.path"></p-link></p-stats>
											<p-stats label="API"><p-link :href="'https://api.programydovoleb.cz/pointers/full/' + table + ':' + tableID"></p-link></p-stats>
										</p-list>
									</template>
								</p-modal>
								<div class="smallest dimm">Jednoduché volání, JSON</div>
							</p-area>
						</li>
						<li>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">Historie úprav</button></template>
									<template #content>
										<div v-if="news">
											<strong>Historie úprav</strong>
											<div class="p-gap _05"></div>
											<p-list>
												<div v-for="(log, index) in news.log">
													<log-item :data="log" :list="current.$data[log.type]"></log-item>
												</div>
											</p-list>
										</div>
									</template>
								</p-modal>
								<div class="smallest dimm">Data v čase</div>
							</p-area>
						</li>
						<li>
							<p-area icon="link" background="var(--greyish)">
								<p-modal>
									<template #init><button class="inline strong">Admin - správa údajů</button></template>
									<template #content>
										<strong>Administrace údajů</strong>
										<div class="p-gap _05"></div>
										<div class="smaller">Máte zájem spravovat informace na této stránce? Získejte přístup do Adminu. Stačí poslat žádost a ověřit, že jste oprávněná osoba nebo kancelář strany či hnutí, které se tyto údaje týkají a která bude údaje pravdivě a svědomitě spravovat.</div>
										<div class="p-gap"></div>
										<div class="strong">
											<p-link :href="'https://admin.programydovoleb.cz/zadost/' + table + ':' + tableID + '?source=https://eu2024.programydovoleb.cz' + $route.fullPath" class="button">Vyplnit žádost</p-link>
										</div>
									</template>
								</p-modal>
								<div class="smallest dimm">Spravujte údaje na této stránce</div>
							</p-area>
						</li>
					</p-grid>
				</p-block>
			</p-block>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'12rem'" v-if="!data"></p-logo>
			<p-image v-if="data && current.JMENO && !con(current.$data, 'photo', null, null, true)" :src="(($strana ? logoByItem($strana, data) : null) || logoByItem(current, data, 'NSTRANA'))" width="12rem" :rounded="true"></p-image>
			<p-photo v-if="data && current.JMENO && con(current.$data, 'photo', null, null, true)" :data="con(current.$data, 'photo', null, null, true)" :alt="current.JMENO + ' ' + current.PRIJMENI"></p-photo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.25">
				<div v-if="data">
					<p-list class="smaller invisible" v-if="current.NAZEV">
							<li>
								<p-area :icon="logoByItem(current, data)">
									<router-link :to="'/strana/' + current.$program[0].csu_id" class="strong">Zobrazit<br>profil</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li v-if="current.$program.length > 0">
								<p-area icon="icon-party" background="var(--blue11)">
									<router-link :to="'/strana/' + current.$program[0].csu_id + '/volebni-program/' + current.$program[0].id + '#plne-zneni'" class="strong">Celý volební program</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li v-if="current.$otazky.find(x => x.type === 2)">
								<p-area icon="detail" background="var(--blue11)">
									<router-link :to="'/strana/' + current.$program[0].csu_id + '/volebni-program/' + current.$program[0].id + '#vybrana-temata'" class="strong">Vybraná<br>témata</router-link>
									<!-- <div class="dimm smallest">Zobrazit a porovnat</div> -->
								</p-area>
							</li>
							<li>
								<p-area icon="answers-mini" background="var(--blue11)">
									<router-link :to="'/strana/' + current.$odpovedi[0].csu_id + '/otazky-a-odpovedi'" class="strong">Otázky<br>a odpovědi</router-link>
									<!-- <div class="dimm smallest">Nejen do kalkulačky</div> -->
								</p-area>
							</li>
						<!-- </p-grid> -->
					</p-list>
					<p-list class="smaller invisible" v-if="current.JMENO">
							<li>
								<p-area :icon="logoByItem($strana, data)">
									<router-link :to="'/strana/' + $strana.id" class="strong">Zobrazit<br>profil</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li v-if="$strana.$program.length > 0">
								<p-area icon="icon-party" background="var(--blue11)">
									<router-link :to="'/strana/' + $strana.id + '/volebni-program/' + $strana.$program[0].id + '#plne-zneni'" class="strong">Celý volební program</router-link>
									<!-- <div class="dimm smallest">{{ date(current.$program[0].updated) }}</div> -->
								</p-area>
							</li>
							<li>
								<p-area icon="detail" background="var(--blue11)">
									<router-link :to="'/strana/' + $strana.id + '/volebni-program/' + $strana.$program[0].id + '#vybrana-temata'" class="strong">Vybraná<br>témata</router-link>
									<!-- <div class="dimm smallest">Zobrazit a porovnat</div> -->
								</p-area>
							</li>
							<li>
								<p-area icon="answers-mini" background="var(--blue11)">
									<router-link :to="'/strana/' + $strana.id + '/otazky-a-odpovedi'" class="strong">Otázky<br>a odpovědi</router-link>
									<!-- <div class="dimm smallest">Nejen do kalkulačky</div> -->
								</p-area>
							</li>
						<!-- </p-grid> -->
					</p-list>
				</div>
				<div>
					<strong>Novinky</strong>
					<div class="p-gap"></div>
					<p-loader :rule="news">
						<div v-if="news" class="small">
							<news-block :news="news" :limit="2" :data="current.$data"></news-block>
						</div>
					</p-loader>
				</div>
				<div>
					<p-list class="smaller invisible">
						<div>
							<p-area background="#fff" icon="https://static.programydovoleb.cz/logo/darujme.png">
								<p-link href="https://darujme.cz/programydovoleb" class="green strong">Přispějte na<br>tento projekt</p-link>
							</p-area>
						</div>
						<div>
							<p-area icon="people-symbol" background="var(--blue11)">
								<router-link to="/aktivity/kdo-se-stane-europoslancem" class="strong">Tipněte si,<br>kdo uspěje</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="icon-false" background="var(--blue11)">
								<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební<br>eurokvíz</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="party" background="var(--blue11)">
								<router-link to="/aktivity/volebni-anketa" class="strong">Předvolební<br>anketa</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="icon-election" background="var(--blue11)">
								<router-link to="/aktivity/odhad-vysledku" class="strong">Odhad<br>výsledku</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="answers-mini" background="var(--blue11)">
								<router-link to="/otazky" class="strong">Porovnejte<br>si odpovědi</router-link>
							</p-area>
						</div>
						<div>
							<p-area icon="icon-check" background="var(--blue11)">
								<router-link to="/kalkulacka" class="strong">Volební<br>kalkulačka</router-link>
							</p-area>
						</div>
					</p-list>
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>