#app {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: url(/images/bg2.svg) no-repeat bottom right, url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxOTIwIiB2aWV3Qm94PSIwIDAgMTA4MCAxOTIwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cmVjdCB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI3BhaW50MF9yYWRpYWxfNzNfNjU5KSIvPgo8ZGVmcz4KPHJhZGlhbEdyYWRpZW50IGlkPSJwYWludDBfcmFkaWFsXzczXzY1OSIgY3g9IjAiIGN5PSIwIiByPSIxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09InRyYW5zbGF0ZSg1NDAgOTYwKSByb3RhdGUoOTApIHNjYWxlKDk2MCA1NDApIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZGRjlFRCIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNFREYyRkYiLz4KPC9yYWRpYWxHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K") no-repeat center center;
  background-size: cover, cover;
}

#app.dark {
  background: url(/images/bg2.svg) no-repeat bottom right, url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxOTIwIiB2aWV3Qm94PSIwIDAgMTA4MCAxOTIwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cmVjdCB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI3BhaW50MF9yYWRpYWxfNzNfNzczKSIvPgo8ZGVmcz4KPHJhZGlhbEdyYWRpZW50IGlkPSJwYWludDBfcmFkaWFsXzczXzc3MyIgY3g9IjAiIGN5PSIwIiByPSIxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09InRyYW5zbGF0ZSg1NDAgOTYwKSByb3RhdGUoOTApIHNjYWxlKDk2MCA1NDApIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzA3MjEzNyIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMwMzA5MTciLz4KPC9yYWRpYWxHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K") no-repeat center center;
  background-size: cover, cover;
}

// .upper {
//   background: url(/images/bg2.svg) no-repeat bottom right;
//   background-size: cover;
// }

.block {
  padding-top: 6rem;
}

.share {
  margin: 2rem auto 0;
  width: 14em;
  position: relative;

  @media (min-width: 960px) {
    margin: -4rem auto 0;
  }
}
