#app {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: url(/images/bg2.svg) no-repeat bottom right, url(/images/bg.jpg) no-repeat center center;
  background-size: cover, 100% 100%;
}

#app.dark {
  background: url(/images/bg2.svg) no-repeat bottom right, url(/images/dark-bg.jpg) no-repeat center center;
  background-size: cover, 100% 100%;
}

// .upper {
//   background: url(/images/bg2.svg) no-repeat bottom right;
//   background-size: cover;
// }

.block {
  padding-top: 6rem;
}

.share {
  margin: 2rem auto 0;
  width: 14em;
  position: relative;

  @media (min-width: 960px) {
    margin: -4rem auto 0;
  }
}
