.text-center p {
  margin: 1em auto;
}

h1 {
  @media (max-width: 800px) {
    font-size: 2.5rem;
  }
}

._mw {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
}

._pbg {
  max-width: 40rem;
  margin: auto;
  justify-content: center;

  .p-box-image {
    border-radius: 4px;
  }
}

.dark .red {
  color: var(--red) !important;
}

.dark .blue {
  color: var(--blue) !important;
}

.dark .green {
  color: var(--green) !important;
}