<div class="share-block">
	<!-- <h3>{{title || 'Sdílejte tuto stránku' }}</h3> -->
	<p-box-group :class="{middle}">
		<p-box :click="() => copyLink()">
			<p-box-color color="transparent"></p-box-color>
			<p-box-label v-if="!copied" icon="link.svg">Sdílet</p-box-label>
			<p-box-label v-if="copied" class="green">Kopie</p-box-label>
		</p-box>
		<p-box :href="'https://www.facebook.com/sharer/sharer.php?u=' + path">
			<p-box-icon type="fb" class="dark-invert"></p-box-icon>
		</p-box>
		<p-box :href="'http://twitter.com/share?text=' + encodeURIComponent(copy || '') + '&url=' + encodeURIComponent(path) + '&via=programydovoleb'">
			<p-box-icon type="tw" class="dark-invert"></p-box-icon>
		</p-box>
		<p-box :href="'https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(path) + '&title=' + encodeURIComponent(copy || '')">
			<p-box-icon type="linkedin" class="dark-invert"></p-box-icon>
			<!-- <p-box-button type="linkedin">LinkedIn</p-box-button> -->
		</p-box>
	</p-box-group>
</div>
