<div class="party-preview">
	<p-area class="_aig">
			<div class="_b">
				<div v-if="!logoByItem(party, elections).includes('empty')">
					<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV" class="_logo">
				</div>
				<div v-if="logoByItem(party, elections).includes('empty')">
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
						<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
							<img loading="lazy" :src="logoByItem(coal, elections)" :alt="'logo ' + coal.NAZEV" class="_logo" :style="{'z-index': 10 - indexC}">
						</template>
					</div>
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET === 1">
						<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV + ' chybí'" class="_logo">
					</div>
				</div>
				<div class="_f">
					<router-link :to="'/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</router-link>
					<div v-if="candidates.length > 0" class="smaller">
						<template v-for="(cand, index2) in [sortByPorCislo(candidates)[0]]">
							<template v-if="index2 < 5">
								<router-link :to="'/kandidat/' + cand.id" class="is-span">{{ cand.JMENO + ' ' + cand.PRIJMENI }}</router-link>
							</template>
						</template>
						<span v-if="candidates.length > 1" class="dimm"> + {{ candidates.length - 1 }}</span>
					</div>
					<div v-if="candidates.length === 0" class="dimm smallest"><em>zatím bez dalších informací</em></div>
				</div>
				<div>
					<router-link :to="'/strana/' + party.id + '/otazky-a-odpovedi'" class="_icon" v-if="party.$odpovedi && party.$odpovedi > 0"> <img src="https://static.programydovoleb.cz/icon/answers.svg" alt="Odpovědi" class="_icon"> </router-link> 
					<template v-if="(party.$data.program && party.$data.program.length > 0) || party.$program.length > 0">
						<p-modal class="inline">
							<template #init>
								<span class="strong smallest _pg" :style="{background: colorByItem(party, elections)}">program</span>
							</template>
							<template #content>
								<div class="_b">
									<div>
										<div v-if="!logoByItem(party, elections).includes('empty')">
											<p-logo :data="{logo: logoByItem(party, elections)}" size="4rem" class="_logo" :alt="'logo ' + party.NAZEV"></p-logo>
										</div>
										<div v-if="logoByItem(party, elections).includes('empty')">
											<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
												<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
													<p-logo :data="{logo: logoByItem(coal, elections)}" size="4rem" class="_logo" :alt="'Logo ' + coal.NAZEV"></p-logo>
												</template>
											</div>
											<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET === 1">
												<p-logo :data="{logo: logoByItem(party, elections)}" size="4rem" class="_logo" alt="Logo chybí"></p-logo>
											</div>
										</div>
									</div>
									<div>
										<p-label :color="colorByItem(party, elections)" :after="true"><router-link :to="'/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</router-link></p-label>
										<div class="strong smaller">Programové dokumenty</div>
									</div>
								</div>
								<div class="_g"></div>
								<p-list>
									<div v-for="(program, indexP) in party.$program">
										<p-area class="inline" icon="icon-party" background="var(--blue11)">
											<router-link :to="'/strana/' + party.id + '/volebni-program/' + program.id + '#plne-zneni'" class="strong">Plné znění volebního programu</router-link>
											<div class="smallest dimm">{{ date(program.updated) }}</div>
										</p-area>
									</div>
									<div v-for="(program, indexP) in party.$data.program">
										<p-offset class="reverse balanced">
											<div>
												<p-link :href="program.source">{{ program.value }}</p-link>
												<div class="dimm tiny">vloženo {{ date(program.updated) }}</div>
											</div>
											<div v-if="program.label">
												<p-link class="dimm smallest" :href="program.label">záloha</p-link>
											</div>
										</p-offset>
									</div>
									<div v-if="party.$priorit">
										<router-link :to="'/strana/' + party.id + '#volebni-priority'" v-if="party.$priorit"><p-lang :value="party.$priorit" :end="['', '1 volební priorita', '%% volební priority', '%% volební priorit']"></p-lang></router-link>
									</div>
								</p-list>
							</template>
						</p-modal> 
					</template>
					<template v-else>
						<p-modal class="inline">
							<template #init>
								<span class="strong smallest _pg _pg11 green" :style="{background: 'var(--green11)'}">+</span>
							</template>
							<template #content>
								<strong>Vložit odkaz na volební program nebo priority</strong>
								<div class="p-gap"></div>
								<report-form></report-form>
							</template>
						</p-modal>
					</template>
				</div>
			</div>
	</p-area>
</div>
