td:first-child,
th:first-child {
    padding-left: 0;
    width: 7em;
}

td:nth-child(3),
th:nth-child(3) {
    width: 2em;
    text-align: right;
}

td:last-child,
th:last-child {
    width: 1em;
    padding-right: 0;
    text-align: right;
    font-weight: 600;
}

.election-poll {
    position: relative;
}

._area {
    margin: -1em;
    padding: 1em;
}

._action {
    position: absolute;
    top: 0em;
    right: -.5em;
}