<div class="election-poll">
	<div class="_area">
		<div class="smaller">
			<strong><component :is="data.link ? 'p-link' : 'span'" :href="data.link">{{ data.agency }}</component></strong> &middot; {{ date(data.datum) }}</div>
		<div class="smallest">{{ data.title }}</div>
		<div class="p-gap _05"></div>	
		<table class="smaller" v-if="data">
			<thead>
				<tr>
					<th>Strana</th>
					<th></th>
					<th>%</th>
					<th>&sum;</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(entry, index) in data.entries">
					<td>{{ data.cis.strany.find(x => x.VSTRANA === entry.party).ZKRATKA }}</td>
					<td><p-line-graph :value="(entry.value / data.entries[0].value) * 100" label="" :color="colorByItem(data.cis.strany.find(x => x.VSTRANA === entry.party), data)"></p-line-graph></td>
					<td>{{ number(entry.value, 1) }}</td>
					<td>{{ dhondt[index].mandates > 0 ? dhondt[index].mandates : '' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="_action">
		<!-- <a :href="imagedata" :download="'graf-' + (new Date().getTime()) + '.png'" class="strong" @click="(ev) => snapshot(ev)">Uložit jako obrázek</a> -->
		<p-modal class="inline">
			<template #init><button class="inline smallest" @click="snapshot">Uložit PNG</button></template>
			<template #content>
				<a :href="imagedata" :download="'graf-' + (new Date().getTime()) + '.png'" class="strong">Stáhnout obrázek</a>
				<p-line></p-line>
				<div class="canvas" ref="canvas"></div>
				<p-line></p-line>
				
			</template>
		</p-modal>
	</div>
</div>
