<div class="election-poll">
	<div class="smaller">
		<strong v-if="data.link"><p-link :href="data.link">{{ data.agency }}</p-link></strong> &middot; {{ date(data.datum) }}
	</div>
	<div class="smallest">{{ data.title }}</div>
	<p-gap height=".5"></p-gap>	
	<table class="smaller" v-if="data">
		<thead>
			<tr>
				<th>Strana</th>
				<th></th>
				<th>%</th>
				<th>&sum;</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(entry, index) in data.entries">
				<td>{{ data.cis.strany.find(x => x.VSTRANA === entry.party).ZKRATKA }}</td>
				<td><p-line-graph :value="(entry.value / data.entries[0].value) * 100" label="" :color="colorByItem(data.cis.strany.find(x => x.VSTRANA === entry.party), data)"></p-line-graph></td>
				<td>{{ number(entry.value, 1) }}</td>
				<td>{{ dhondt[index].mandates > 0 ? dhondt[index].mandates : '' }}</td>
			</tr>
		</tbody>
	</table>
</div>
