<div class="layout-volby-questions">
	<p-layout-divided>
		<template #main>
			<p-block :hide="true" :level="1" :headline="data ? data.list[0].question : 'Načítám odpovědi...'" anchor="Otázka z kalkulačky">
				<p-loader :rule="data">
					<div v-if="data">
						<p-headline :level="1">{{ data ? data.list[0].question : 'Načítám otázku' }}</p-headline>
						<p class="lead" v-if="data.list[0].comment">{{ data.list[0].comment }}</p>
						
							<template v-if="$strany">
								<p-block headline="Shrnutí" :hide="true">
									<p-area class="smaller">
										<p-columns class="-tight">
											<div v-for="(party, index) in $strany">
												<p-offset class="reverse balanced">
													<div>
														<p-label :color="'var(--' + (['', 'green', 'red', 'blue', 'greyish'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)) ? onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).quick : 4]) + ')'">
															<button class="inline" @click="slide('party_' + party.id)">
																{{ party.ZKRATKA }}
															</button>
														</p-label>
													</div>
													<div v-if="sortByDeepPorCislo(data.list[0].$body.filter(x => x.$strana && x.$strana.id === party.id && x.$kandidat)).length > 0">
														<div class="smallest dimm">
															+{{ sortByDeepPorCislo(data.list[0].$body.filter(x => x.$strana && x.$strana.id === party.id && x.$kandidat)).length }}
														</div>
													</div>
												</p-offset>
											</div>
										</p-columns>
									</p-area>
								</p-block>
								<p-block headline="Odpovědi">
									<p-list class="invisible">
										<div v-for="(party, index) in $strany">
											<p-block :name="'party_' + party.id" :headline="party.ZKRATKA" :anchor="'- ' + party.ZKRATKA" :hide="true" class="_npm">
												<p-box-group class="_bg">
													<p-box>
														<template v-if="data.list[0].$odpovedi.filter(x => x.csu_id === party.id).length > 0">
															<template v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).quick" class="smaller strong">
																<p-box-color :color="['', 'var(--green)', 'var(--red)', 'var(--blue44)', 'transparent'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).quick]"></p-box-color>
															</template>
															<template v-else>
																<p-box-color color="transparent"></p-box-color>
															</template>
														</template>
														<template v-else>
															<p-box-color color="transparent"></p-box-color>
														</template>
													</p-box>
													<p-box :to="'/strana/' + party.id + '/otazky-a-odpovedi'">
														<p-box-image :src="logoByItem(party, data)"></p-box-image>
														<p-box-label>
															{{ party.ZKRATKA }}
														</p-box-label>
													</p-box>
													<p-box-gap></p-box-gap>
													<p-box>
														<template v-if="data.list[0].$odpovedi.filter(x => x.csu_id === party.id).length > 0">
															<template v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).quick" class="smaller strong">
																<p-box-label :color="['', 'var(--green)', 'var(--red)', 'var(--grey)', 'var(--grey)'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).quick]">{{ ['', 'ANO', 'NE', 'Je to komplikované', 'jiná odpověď'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).quick] }}</p-box-label>
																<p-box-icon :type="['', 'icon-check', 'icon-against', 'icon-none', 'icon-none'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).quick]"></p-box-icon>
															</template>
															<template v-else>
																<p-box-icon type="icon-none"></p-box-icon>
															</template>
														</template>
														<template v-else>
															<p-box-label class="dimm">zatím bez odpovědi</p-box-label>
														</template>
													</p-box>
												</p-box-group>
												<template v-if="data.list[0].$odpovedi.filter(x => x.csu_id === party.id).length > 0">
													<p v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).answer">
														<p-truncated :content="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_id === party.id)).answer" :size="60" class="serif"></p-truncated>
													</p>
												</template>
												
	
														<template v-if="data.list[0].$body.filter(x => x.$strana && x.$strana.id === party.id && x.$kandidat).length > 0">
															
															
															<p-gap height="1"></p-gap>
															<p-list class="smaller invisible">
																<template v-for="(cand, index2) in sortByDeepPorCislo(data.list[0].$body.filter(x => x.$strana && x.$strana.id === party.id && x.$kandidat))">
																	<p-offset>
																		<div>
																			<span class="dimm smallest">{{ cand.$kandidat.PORCISLO }}. </span>
																		</div>
																		<div>
																			<div class="strong">
																				<router-link :to="'/kandidat/' + cand.$kandidat.id + '/otazky-a-odpovedi'">
																					{{ cand.$kandidat.JMENO + ' ' + cand.$kandidat.PRIJMENI }}
																				</router-link>
																				&middot;
																				<span v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).quick" class="smaller" :class="['', 'green', 'red', 'dimm', 'dimm'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).quick]">
																					{{ ['', 'ANO', 'NE', 'je to komplikované', 'nechci odpovídat'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).quick] }}
																				</span>
																			</div>
																			
																			<div v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).answer" class="_mw">
																				<p-truncated :content="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).answer" :size="20" class="serif"></p-truncated>
																			</div>
																		</div>
																	</p-offset>
																</template>
															</p-list>
															<p-gap height="2"></p-gap>
														</template>
											</p-block>
										</div>	
									</p-list>
								</p-block>							
							</template>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Další otázky" :level="1" v-if="data">
				<template v-for="(qitem, qindex) in qenum">
					<p-collapsible :label="qitem.label" :status="data.cis.otazky.filter(x => x.type === qitem.type && qitem.designee === x.designated).length" v-if="data.cis.otazky.filter(x => x.type === qitem.type && qitem.designee === x.designated).length > 0">
						<p-area>
							<div class="p-list smaller">
								<div v-for="(qquestion, qqindex) in data.cis.otazky.filter(x => x.type === qitem.type && x.priority === 1 && qitem.designee === x.designated)">
									<router-link class="" :to="'/' + qitem.hash + '/' + qquestion.id">{{ qquestion.question }}</router-link>
									<div class="smaller dimm" v-if="qquestion.comment">{{ truncate(qquestion.comment, 12) }}</div>
								</div>
							</div>
							<template v-if="data.cis.otazky.find(x => x.type === qitem.type && x.priority === 2)">
								<div class="p-gap"></div>
								<p-collapsible label="Doplňkové otázky">
									<div class="p-list">
										<div v-for="(qquestion, qqindex) in data.cis.otazky.filter(x => x.type === qitem.type && x.priority === 2 && qitem.designee === x.designated)">
											<router-link :to="'/' + qitem.hash + '/' + qquestion.id">{{ qquestion.question }}</router-link>
										</div>
									</div>
								</p-collapsible>
							</template>
						</p-area>
					</p-collapsible>
				</template>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/answers-mini.svg'}" :size="'12rem'" alt="Evropské volby 2024"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-area borderColor="var(--yellow)" background="transparent" padding=".85em 0 1em 1.5em">
				<strong>Výzva pro strany a kandidáty</strong>
				<div class="p-gap _05"></div>
				<div class="smaller">Jdete do voleb? Už máte svůj přístup do <router-link to="/pro-kandidaty" class="strong">Adminu</router-link>? Už dnes můžete vyplnit své údaje a také odpovědi na <router-link to="/otazky" class="strong">volební otázky</router-link> a kalkulačku.</div>
				<div class="p-gap _05"></div>
				<p-box to="/otazky">
					<p-box-button>Zobrazit</p-box-button>
				</p-box>
			</p-area>
			<p-line></p-line>


			<p-list class="smaller invisible">
				<div>
					<p-area icon="evropske-volby" background="var(--blue11)">
						<router-link to="/prehled" class="strong _white">Volební<br>přehled</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="people-symbol" background="var(--blue11)">
						<router-link to="/aktivity/kdo-se-stane-europoslancem" class="strong">Tipněte si,<br>kdo uspěje?</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="euroquiz" background="var(--blue11)">
						<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební<br>eurokvíz</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="party" background="var(--blue11)">
						<router-link to="/aktivity/volebni-anketa" class="strong">Předvolební<br>anketa</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-election" background="var(--blue11)">
						<router-link to="/aktivity/odhad-vysledku" class="strong">Odhad<br>výsledku</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="answers-mini" background="var(--blue11)">
						<router-link to="/otazky" class="strong">Porovnejte<br>si odpovědi</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-check" background="var(--blue11)">
						<router-link to="/kalkulacka" class="strong _white">Volební<br>kalkulačka</router-link>
					</p-area>
				</div>
				<div>
					<p-area background="#fff" icon="https://static.programydovoleb.cz/logo/darujme.png">
						<p-link href="https://darujme.cz/programydovoleb" class="green strong">Přispějte na<br>tento projekt</p-link>
					</p-area>
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>