<div class="p-block p-block---expandable" :class="{opened}">
	<div @click="opened = !opened">
		<p-headline :level="level || 2" :anchor="anchor" :alert="alert" :collapsed="true">
			<a :name="hash"></a>
			<button class="inline"><span class="p-headline---label" :data-label="anchor || headline">{{ !opened && label ? label : headline }}</span></button>
			<div class="p-headline---sublabel" v-if="opened">{{ subheadline }}</div>
		</p-headline>
	</div>
	<div v-if="opened">
		<slot />
	</div>
	<div class="p-block-indicator" :class="{'p-block-indicator---opened': opened}">
		&times;
	</div>
</div>
