<div class="log-item">
	<p-offset class="balanced">
		<div class="text-right _w3">
			<div class="strong smallest" :class="{'green': data.action === 'add', 'red': data.action === 'hide', 'blue': data.action === 'replace'}">{{ date(data.date, 2) }}</div>
		</div>
		<div class="_f">
			{{ (small ? actionSmall : action)[data.action] }} <em>{{ types[data.type].toLowerCase() }}</em>
			<div class="smaller dimm" v-if="item">
				<p-offset class="balanced reverse">
					<div>{{ item.value || item.label }}</div>
					<div v-if="item.source"><p-link :href="item.source">Zdroj</p-link></div>
				</p-offset>				
			</div>
			<div class="smallest dimm" v-if="list && data.time">
				<div class="p-gap _05"></div>
				Provedeno v {{ data.time }}

			</div>
		</div>		
	</p-offset>
	
</div>
