._ni {
  padding: 0.1em 0.25em !important;
  min-height: 2em !important;
  text-align: right;
}

._lb {
  border-bottom: var(--border);
  padding: 2px 0;
  align-items: center !important;
}

._w5 {
  width: 4em;
}