._ni {
  padding: 0.1em 0.25em !important;
  min-height: 2em !important;
  text-align: right;
}

._lb {
  border-bottom: var(--border);
  padding: 2px 0;
  align-items: center !important;
}

._w5 {
  width: 4em;
}

._r {
  position: relative;
}

._c {
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  font-size: 10px;
  top: -4px;
  right: -4px;
  border-radius: 50%;
  background: var(--blue);
  color: #fff;
  text-align: center;
}