<div class="engagement-result-tip">
	<p-area borderColor="var(--blue)">
		<!-- <p-loader :rule="data"> -->
			<div v-if="!used">
				<p-list height="2">
					<div v-for="(q, indexQuestion) in questions">
						<strong>{{ q.question }}</strong>
						<p-gap height="0.6"></p-gap>
						<div v-if="q.comment" v-html="q.comment" class="smaller"></div>
						<p-gap></p-gap>
						<p-box-group>
							<template v-for="(answer, indexAnswer) in q.options">
								<p-box :click="() => toggle(indexQuestion, indexAnswer)" class="_r">
									<p-box-button :color="form.answers[indexQuestion].indexOf(indexAnswer) > -1 ? 'var(--blue)' : null" :class="{dimm: form.answers[indexQuestion].indexOf(indexAnswer) === -1 && questions[indexQuestion].limit && form.answers[indexQuestion].length === questions[indexQuestion].limit}">{{ answer }}</p-box-button>
									<div class="_c" v-if="form.answers[indexQuestion].indexOf(indexAnswer) > -1 && questions[indexQuestion].limit">
										{{ form.answers[indexQuestion].indexOf(indexAnswer) + 1 }}
									</div>
								</p-box>
							</template>
						</p-box-group>
					</div>
					<div>
						<button @click="submit" :disabled="form.answers.find(x => x.length === 0)">Odeslat</button>
					</div>
				</p-list>
			</div>
			<div v-if="used">
				<p-area icon="icon-check" class="inline">
					<strong>Vaše odpovědi jsou odeslány</strong>
					<div class="smallest dimm">Jakmile se nasbírá alespoň 100 hlasů, zobrazí se průběžné grafy.</div>
				</p-area>
			</div>
		<!-- </p-loader> -->
	</p-area>
</div>