.p-list {
  margin: 0 -1rem;

  & > div,
  & > li {
    padding: 1rem;
    position: relative;
    // background: #fff;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  & > div:not(:first-child) {
    border-top: var(--border);

    .dark & {
      border-color: #000;
    }
  }

  // @media (hover:hover) {
  //   & > * {
  //     transition: background 1s;
  //   }
  //
  //   & > *:hover {
  //     background: #fcfcfc;
  //     transition: background 1s 3s;
  //   }
  // }
}

.p-list.padding---4rem > div {
  &:not(:first-child) {
    padding-top: 4rem;
  }
  &:not(:last-child) {
    padding-bottom: 4rem;
  }
}

.p-list.padding---3rem > div {
  &:not(:first-child) {
    padding-top: 3rem;
  }
  &:not(:last-child) {
    padding-bottom: 3rem;
  }
}

.p-list.padding---2rem > div {
  &:not(:first-child) {
    padding-top: 2rem;
  }
  &:not(:last-child) {
    padding-bottom: 2rem;
  }
}

.p-list.padding---05rem > div {
  &:not(:first-child) {
    padding-top: .5rem;
  }
  &:not(:last-child) {
    padding-bottom: .5rem;
  }
}

.p-list.padding---0 > div {
  &:not(:first-child) {
    padding-top: 0;
  }
  &:not(:last-child) {
    padding-bottom: 0;
  }
}

.p-list.p-list---invisible, 
.p-list.invisible {
  & > div {
    border-top: none !important;
  }
}