<div class="layout-volby-questions">
	<p-layout-divided>
		<template #main>
			<p-block :hide="true" :level="1" :headline="data ? data.list[0].question : 'Načítám téma...'">
				<p-loader :rule="data">
					<div v-if="data">
						<p-headline :level="1">{{ data ? data.list[0].question : 'Načítám otázku' }}</p-headline>
						<p class="lead" v-if="data.list[0].comment">Patří mezi vybraná témata ve volebních programech pro evropské volby 7. a 8. června 2024. {{ data.list[0].comment }}</p>
						<p-area v-if="$strany">
							<div class="columns columns-4 smaller">
								<div v-for="(party, index) in $strany">
									<button class="inline" @click="() => slide(url(party.ZKRATKA || party.NAZEV))">{{ party.ZKRATKA || party.NAZEV }}</button>
								</div>
							</div>
						</p-area>
						<div class="p-gap _2"></div>
						<!-- <template v-if="['evropske-volby', 'snemovni-volby', 'komunalni-volby', 'krajske-volby'].indexOf(hash) > -1"> -->
							<template v-if="$strany">
								<template v-for="(party, index) in $strany">
									<p-block :headline="party.NAZEV" :anchor="party.ZKRATKA || party.NAZEV" :hide="true">
										<p-grid>
											<div>
												<party-preview :party="party" :candidates="[]" :election="null" :elections="data" :label="'Program přidán ' + date(data.list[0].$body.find(x => x.csu_table === party.csu_table && x.csu_id === party.id).$program[0].updated)"></party-preview>
											</div>
										</p-grid>
										<p-gap></p-gap>
										<!-- <p-collapsible :label="party.NAZEV" :logo="logoByItem(party, data)"> -->
											<!-- <p-area :borderColor="colorByItem(party, data)"> -->
												<template v-if="data.list[0].$odpovedi.filter(x => x.csu_id === party.id).length > 0">
													<p-list height="1.25">
														<template v-for="(content, indexC) in data.list[0].$odpovedi.filter(x => x.csu_id === party.id)">
															<div>
																<p-truncated :content="content.answer" :size="60" class="serif"></p-truncated>
															</div>
														</template>
														<div class="smaller strong">
															<router-link :to="'/strana/' + party.id + '/volebni-program/' + data.list[0].$body.find(x => x.csu_table === party.csu_table && x.csu_id === party.id).$program[0].id">Zobrazit volební program</router-link>
														</div>
													</p-list>
												</template>
											<!-- </p-area> -->
										<!-- </p-collapsible> -->
										<p-gap height="3"></p-gap>
									</p-block>
								</template>
								
							</template>
							<template v-else>
								<p class="smallest dimm">Téma ještě nebylo zpracované, nebo se k němu žádná strana v programu nevyjádřila.</p>
							</template>
						<!-- </template> -->
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Další otázky" :level="1" v-if="data">
				<template v-for="(qitem, qindex) in qenum.filter(x => x.type === 2)">
					<!-- <p-collapsible :label="qitem.label" :status="data.cis.otazky.filter(x => x.type === qitem.type).length" v-if="data.cis.otazky.filter(x => x.type === qitem.type).length > 0" :open="true"> -->
						<p-area>
							<div :class="qitem.type < 3 ? 'columns' : 'p-list'">
								<div v-for="(qquestion, qqindex) in data.cis.otazky.filter(x => x.type === qitem.type && x.priority === 1)">
									<router-link class="strong" :to="'/tema/' + qquestion.id + ($route.query.vyber ? '?vyber=' + $route.query.vyber : '')">{{ qquestion.question }}</router-link>
									<div class="smaller" v-if="qquestion.comment">{{ truncate(qquestion.comment, 12) }}</div>
									<p-gap></p-gap>
								</div>
							</div>
							<template v-if="data.cis.otazky.find(x => x.type === qitem.type && x.priority === 2)">
								<div class="p-gap"></div>
								<p-collapsible label="Doplňkové otázky">
									<div :class="qitem.type < 3 ? 'columns' : 'p-list'">
										<div v-for="(qquestion, qqindex) in data.cis.otazky.filter(x => x.type === qitem.type && x.priority === 2)">
											<router-link :to="'/volby/' + hash + '/' + id + '/' + qitem.hash + '/' + qquestion.id + ($route.query.vyber ? '?vyber=' + $route.query.vyber : '')">{{ qquestion.question }}</router-link>
										</div>
									</div>
								</p-collapsible>
							</template>
						</p-area>
					<!-- </p-collapsible> -->
				</template>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/evropske-volby.svg'}" :size="'12rem'" alt="Evropské volby 2024"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-area borderColor="var(--yellow)" background="transparent" padding=".85em 0 1em 1.5em">
				<strong>Výzva pro strany a kandidáty</strong>
				<div class="p-gap _05"></div>
				<div class="smaller">Jdete do voleb? Už máte svůj přístup do <router-link to="/pro-kandidaty" class="strong">Adminu</router-link>? Už dnes můžete vyplnit své údaje a také odpovědi na <router-link to="/otazky" class="strong">volební otázky</router-link> a kalkulačku.</div>
				<div class="p-gap _05"></div>
				<p-box to="/otazky">
					<p-box-button color="var(--blue)">Zobrazit</p-box-button>
				</p-box>
			</p-area>
			<p-line></p-line>


			<p-list class="smaller invisible">
				<div>
					<p-area icon="evropske-volby" background="var(--blue11)">
						<router-link to="/prehled" class="strong _white">Volební<br>přehled</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-check" background="var(--blue11)">
						<router-link to="/kalkulacka" class="strong _white">Volební<br>kalkulačka</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="people-symbol" background="var(--blue11)">
						<router-link to="/aktivity/kdo-se-stane-europoslancem" class="strong">Tipněte si,<br>kdo uspěje?</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-false" background="var(--blue11)">
						<router-link to="/aktivity/kviz-pro-eurovolby" class="strong">Volební<br>eurokvíz</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="party" background="var(--blue11)">
						<router-link to="/aktivity/volebni-anketa" class="strong">Předvolební<br>anketa</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="icon-election" background="var(--blue11)">
						<router-link to="/aktivity/odhad-vysledku" class="strong">Odhad<br>výsledku</router-link>
					</p-area>
				</div>
				<div>
					<p-area icon="answers-mini" background="var(--blue11)">
						<router-link to="/otazky" class="strong">Porovnejte<br>si odpovědi</router-link>
					</p-area>
				</div>
				<div>
					<p-area background="#fff" icon="https://static.programydovoleb.cz/logo/darujme.png">
						<p-link href="https://darujme.cz/programydovoleb" class="green strong">Přispějte na<br>tento projekt</p-link>
					</p-area>
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>