.p-quote {
	font-size: 2rem;
	padding: 1rem 5rem 1rem 2rem;
	background: var(--whiteish);
	font-family: 'Inria Serif', 'Georgia', serif;
	position: relative;
	border-left: 4px solid transparent;

	.dark & {
		background: var(--darkish);
		color: #fff !important;
	}

	&:after {
		content: '"';
		position: absolute;
		font-size: 6rem;
		top: -.5rem;
		right: 1rem;
		pointer-events: none;
	}

	@media (min-width: 800px) {
		padding-right: 20rem;
	}
}

.p-quote + .p-quote {
	margin-top: 1rem;
}

._long {
	font-size: 2rem;

	@media (min-width: 1440px) {
		font-size: 2rem;
	}
}

._source {
	font-family: Roboto, sans-serif
}
