	<div class="party-preview">
	<p-area class="_aig">
		<!-- <div class="_aig"> -->
			<div class="_b">
				<div>
					<div class="_por">
						<div>
							<router-link :to="'/strana/' + party.id" class="strong">{{ truncate(party.NAZEV, 10) }}</router-link>
							<div class="dimm smallest" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
								koalice 
								<p-list-linear>
									<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
										<li>{{ coal.ZKRATKA }}</li>
									</template>
								</p-list-linear>
							</div>
							<!-- <div v-if="candidates.length === 0" class="dimm smallest"><em>zatím bez dalších informací</em></div> -->
						</div>
						<div class="smallest dimm" v-if="party.ESTRANA > 0">
							{{ party.ESTRANA }}
						</div>
					</div>
				</div>
				<div v-if="!logoByItem(party, elections).includes('empty')" class="_ba">
					<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV" class="_logo">
				</div>
				<div v-if="logoByItem(party, elections).includes('empty')" class="_ba">
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
						<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
							<img loading="lazy" :src="logoByItem(coal, elections)" :alt="'logo ' + coal.NAZEV" class="_logo" :style="{'z-index': 10 - indexC}">
						</template>
					</div>
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET === 1">
						<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV + ' chybí'" class="_logo">
					</div>
				</div>
			</div>
			<div v-if="candidates.length > 0" class="_con">
				<div class="_g"></div>
				<p-list class="invisible">
					<template v-for="(cand, index2) in sortByPorCislo(candidates)">
						<li v-if="index2 < 5">
							{{ cand.PORCISLO ? cand.PORCISLO + '. ' : '?'}} 
							<router-link :to="'/kandidat/' + cand.id" :class="{'is-span': !cand.PORCISLO}">{{ cand.JMENO + ' ' + cand.PRIJMENI }}</router-link>
							<span v-if="cand.$odpovedi > 0"> 
								<router-link :to="'/kandidat/' + cand.id + '/otazky-a-odpovedi'" class="_i">
									<p-icon icon="answers-mini"></p-icon>
								</router-link>
							</span>							
						</li>
					</template>
					<li v-if="candidates.length > 5">
						+  <router-link :to="'/strana/' + party.id" class="dimm">
							<p-lang :value="candidates.length - 5" :end="['', 'jeden další', 'další %%', 'dalších %%']"></p-lang>
						</router-link>
					</li>
				</p-list>
			</div>
			<div v-if="(party.$data.program && party.$data.program.length > 0) || (party.$priorit || party.$priorit > 0) || (party.$program)">
				<div class="_g"></div>
				<template v-if="(party.$data.program && party.$data.program.length > 0) || party.$program.length > 0">
					<div class="p-gap_05"></div>
					<p-modal class="inline">
						<template #init>
							<span class="strong smallest _pg" :style="{background: colorByItem(party, elections)}">program</span>
						</template>
						<template #content>
							<div class="_b">
								<div>
									<p-label :color="colorByItem(party, elections)" :after="true"><router-link :to="'/strana/' + party.id" class="strong">{{ party.NAZEV }}</router-link></p-label>
									<div class="strong smaller">Programové dokumenty</div>
								</div>
							</div>
							<div class="_g"></div>
							<p-list>
								<div v-for="(program, indexP) in party.$program">
									<p-area class="inline" icon="icon-party" background="var(--blue11)">
										<router-link :to="'/strana/' + party.id + '/volebni-program/' + program.id + '#plne-zneni'" class="strong">Plné znění volebního programu</router-link>
										<div class="smallest dimm">{{ date(program.updated) }}</div>
									</p-area>
								</div>
								<div v-for="(program, indexP) in party.$data.program">
									<p-offset class="reverse balanced">
										<div>
											<p-link :href="program.source">{{ program.value }}</p-link>
											<div class="dimm tiny">vloženo {{ date(program.updated) }}</div>
										</div>
										<div v-if="program.label">
											<p-link class="dimm smallest" :href="program.label">záloha</p-link>
										</div>
									</p-offset>
								</div>
								<div v-if="party.$priorit">
									<router-link :to="'/strana/' + party.id + '#volebni-priority'" v-if="party.$priorit"><p-lang :value="party.$priorit" :end="['', '1 volební priorita', '%% volební priority', '%% volební priorit']"></p-lang></router-link>
								</div>
							</p-list>
						</template>
					</p-modal> 
					<p-modal class="inline">
						<template #init>
							<span class="strong smallest _pg _pg11 green" :style="{background: 'var(--green11)'}">+</span>
						</template>
						<template #content>
							<strong>Vložit odkaz na další informace</strong>
							<div class="p-gap"></div>
							<report-form></report-form>
						</template>
					</p-modal>
				</template>		
				<template v-else>
					<p-modal class="inline">
						<template #init>
							<span class="strong smallest _pg _pg11 green" :style="{background: 'var(--green11)'}">přidat program</span>
						</template>
						<template #content>
							<strong>Vložit odkaz na volební program nebo priority</strong>
							<div class="p-gap"></div>
							<report-form></report-form>
						</template>
					</p-modal>
				</template>		
				 <router-link :to="'/strana/' + party.id + '/otazky-a-odpovedi'" class="_icon" v-if="party.$odpovedi && party.$odpovedi > 0"> <img src="https://static.programydovoleb.cz/icon/answers.svg" alt="Odpovědi" class="_icon"> </router-link>	
				<template v-for="(soc, index) in party.$data.social.filter(x => ['tw', 'fb', 'threads', 'ig'].indexOf(type(x.value)) > -1)"> <p-link :href="soc.value" class="_icon"> <img :src="'https://static.programydovoleb.cz/icon/' + type(soc.value) + '.svg'" :alt="type(soc.value).toUpperCase() + ' ' + party.ZKRATKA"></p-link></template>
				<template v-if="party.$data.web && party.$data.web.length > 0"> <p-link :href="party.$data.web[0].value" class="_icon"><img src="https://static.programydovoleb.cz/icon/link.svg" alt="Webové stránky" class="_icon"></p-link></template>										
			</div>
		<!-- </div> -->
	</p-area>
</div>
