<div class="layout-volby-questions">
	<p-layout-divided>
		<template #main>
			<p-block :headline="data ? data.list[0].question : 'Načítám otázku'" :level="1" :hide="true" anchor="Otázka">
				<p-loader :rule="data">
					<div v-if="data">
						<p-headline :level="1">
							<div class="small">
								{{ data ? data.list[0].question : 'Načítám otázku' }}
							</div>
						</p-headline>
						<p class="lead" v-if="data && data.list[0].comment">{{ data.list[0].comment }}</p>
						<p-block :hide="true" headline="Rejstřík">
							<p-area>
								<p-columns class="smaller -tight">
									<template v-if="data.list[0].$body.find(x => x.$kandidat)">
										<div v-for="(cand, index2) in sortByDeepPrijmeni(data.list[0].$body)">
											<button class="inline" @click="slide('answer_' + cand.csu_id)">
												{{ cand.$kandidat.JMENO + ' ' + cand.$kandidat.PRIJMENI }}
											</button>
										</div>
									</template>
									<template v-else>
										<div v-for="(cand, index2) in sortByDeepZkratka(data.list[0].$body)">
											<button class="inline" @click="slide('answer_' + cand.csu_id)">
												{{ cand.$strana.ZKRATKA }}
											</button>
										</div>
									</template>
								</p-columns>
							</p-area>
						</p-block>
						<p-block :hide="true" headline="Odpovědi">
							<p-list height="1.25">
								<template v-if="data.list[0].$body.find(x => x.$kandidat)">
									<template v-for="(cand, index2) in sortByDeepPrijmeni(data.list[0].$body)">
										<div :name="'answer_' + cand.csu_id">
											<p-offset>
												<div>
													<p-photo :data="cand.$kandidat.$data.photo[0] || null" class="_ph"></p-photo>
												</div>
												<div>
													<router-link :to="'/kandidat/' + cand.$kandidat.id"><strong>{{ cand.$kandidat.JMENO + ' ' + cand.$kandidat.PRIJMENI }}</strong></router-link> <span class="dimm smallest">&middot; {{ cand.$kandidat.PORCISLO }} </span> 
													<div class="smallest">
														<router-link :to="'/kandidat/' + cand.$kandidat.id" class="is-span">{{ cand.$strana.ZKRATKA }}</router-link>
													</div>
													<p-gap height=".25"></p-gap>
													<div v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).quick">
														<span class="dimm">Rychlá odpověď: </span> {{ ['', 'ANO', 'NE', 'je to komplikované', 'nechci odpovídat'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).quick] }}
													</div>
													<div v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).answer">
														<p-truncated :content="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).answer" :size="60" class="serif"></p-truncated>
													</div>
												</div>
											</p-offset>
										</div>
									</template>
								</template>
								<template v-else>
									<template v-for="(cand, index2) in sortByDeepZkratka(data.list[0].$body)">
										<div :name="'answer_' + cand.csu_id">
											<p-offset>
												<div>
													<p-image :src="cand.$strana.$data.logo[0] ? cand.$strana.$data.logo[0].value : null" class="_ph"></p-image>
												</div>
												<div>
													<router-link :to="'/strana/' + cand.$strana.id"><strong>{{ cand.$strana.ZKRATKA }}</strong></router-link>
													<p-gap height=".25"></p-gap>
													<div v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).quick">
														<span class="dimm">Rychlá odpověď: </span> {{ ['', 'ANO', 'NE', 'je to komplikované', 'nechci odpovídat'][onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).quick] }}
													</div>
													<div v-if="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).answer">
														<p-truncated :content="onlyLast(data.list[0].$odpovedi.filter(x => x.csu_table === cand.csu_table && x.csu_id === cand.csu_id)).answer" :size="60" class="serif"></p-truncated>
													</div>
												</div>
											</p-offset>
										</div>
									</template>
								</template>
							</p-list>
						</p-block>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Další otázky" :level="1" v-if="data">
				<template v-for="(qitem, qindex) in qenum">
					<p-collapsible :label="qitem.label" :status="data.cis.otazky.filter(x => x.type === qitem.type && qitem.designee === x.designated).length" v-if="data.cis.otazky.filter(x => x.type === qitem.type && qitem.designee === x.designated).length > 0">
						<p-area>
							<div class="p-list smaller">
								<div v-for="(qquestion, qqindex) in data.cis.otazky.filter(x => x.type === qitem.type && x.priority === 1 && qitem.designee === x.designated)">
									<router-link class="" :to="'/' + qitem.hash + '/' + qquestion.id">{{ qquestion.question }}</router-link>
									<div class="smaller dimm" v-if="qquestion.comment">{{ truncate(qquestion.comment, 12) }}</div>
								</div>
							</div>
							<template v-if="data.cis.otazky.find(x => x.type === qitem.type && x.priority === 2)">
								<div class="p-gap"></div>
								<p-collapsible label="Doplňkové otázky">
									<div class="p-list">
										<div v-for="(qquestion, qqindex) in data.cis.otazky.filter(x => x.type === qitem.type && x.priority === 2 && qitem.designee === x.designated)">
											<router-link :to="'/' + qitem.hash + '/' + qquestion.id">{{ qquestion.question }}</router-link>
										</div>
									</div>
								</p-collapsible>
							</template>
						</p-area>
					</p-collapsible>
				</template>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/answers-mini.svg'}" :size="'12rem'" alt="Evropské volby 2024"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-area borderColor="var(--yellow)" background="transparent" padding=".85em 0 1em 1.5em">
				<strong>Výzva pro strany a kandidáty</strong>
				<div class="p-gap _05"></div>
				<div class="smaller">Jdete do voleb? Už máte svůj přístup do <router-link to="/pro-kandidaty" class="strong">Adminu</router-link>? Už dnes můžete vyplnit své údaje a také odpovědi na <router-link to="/otazky" class="strong">volební otázky</router-link> a kalkulačku.</div>
				<div class="p-gap _05"></div>
				<p-box to="/otazky">
					<p-box-button>Zobrazit</p-box-button>
				</p-box>
			</p-area>
		</template>
	</p-layout-divided>
</div>