._img {
  display: block;
}

._border {
  // box-shadow:0px 0px 0px 1px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .05);
}

._rounded {
  border-radius: 6px;
  overflow: hidden;
}

._round {
  border-radius: 50%;
  overflow: hidden;
}

.p-image.drop-shadow img {
  box-shadow: 1.6rem 1.6rem 4.8rem rgba(0,0,0,.1);
}

.dark img[src*="missing.png"],
.dark img[src*="empty.png"] {
  opacity: .03;
}

.p-image.ma img {
  margin: auto;
}
