@keyframes pulse {
  0% {
    opacity: 1;
  }
  33% {
    opacity: .4;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.anim {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader-progress {
  background: var(--blue11);
}

.loader-content {
  animation: fadein .25s forwards 1;
  animation-fill-mode: initial;
  position: relative;
  z-index: 2;
}
