<div class="loader">
	<div class="loader-progress" v-if=!rule>
		<div class="loader-table" v-if="!type || type === 'table'">
			<table>
				<tbody>
					<tr class="anim">
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
					</tr>
					<tr class="anim anim-1">
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
					</tr>
					<tr class="anim anim-2">
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
						<td>
							<div></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="loader-profile" v-if="type === 'profile'">
			<div class="m">
				<div class="c-6 anim"></div>
			</div>
			<div class="m">
				<div class="w-30">
					<div class="p">
						<div class="l anim anim-1"></div>
						<div class="l anim anim-2"></div>
						<div class="l anim anim-3"></div>
						<div class="l anim anim-4 w-75p"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="loader-symbol" v-if="type === 'symbol'" :style="{width: _w + 'rem', height: (reserve || _w) + 'rem'}">
			<div class="m">
				<div class="c-3 anim" :style="{width: _w + 'rem', height: (reserve || _w) + 'rem'}"></div>
			</div>
		</div>
	</div>
	<div class="loader-content" v-if="rule">
		<slot />
	</div>
</div>
