<div class="news-block">
	<p-list height="1.5">
		<div v-for="(item, index) in consolidatedNews.filter((x, i) => i < _limit)">
			<strong>{{ date(item.datum) }}</strong>
			<div v-if="item.list.length > 0" class="_cni">
				<p-list height=".33" class="invisible">
					<div v-for="(news, index) in item.list">
						<p-link :href="news.source">{{ news.title }}</p-link>
					</div>
				</p-list>
			</div>
			<div class="_i"></div>
			<div v-if="item.auto.length > 0" class="_cni">
				<!-- <div> -->
					<p-lang :value="item.auto.length" :end="['', 'Nový kandidát', '%% noví kandidáti', '%% nových kandidátů']"></p-lang>:
				<!-- </div> -->
				<p-list-linear>
					<template v-for="(news, index) in item.auto">
						<li>
							<router-link :to="'/kandidat/' + news.relates.split(',')[1].split(':')[1]">{{ news.title }}</router-link>
						</li>
					</template>
				</p-list-linear>
				<div class="dimm smallest _md">
					Zdroj: 
					<p-list-linear>
						<template v-for="(src, index) in unique(item.auto, 'source')">
							<li>
								<p-link :href="src" class="dimm">{{ domain(src) }}</p-link>
							</li>
						</template>
					</p-list-linear>
				</div>
			</div>
			<div class="_i"></div>
			<div v-if="item.log.length > 0 && data" class="_cni">
				<p-modal>
					<template #init>
						<span><p-lang :value="item.log.length" :end="['', 'Upravena 1 položka', 'Upraveny %% položky', 'Upraveno %% položek']"></p-lang></span>
					</template>
					<template #content>
						<p-list>
							<div v-for="(x, index) in item.log">
								<log-item :data="x" :list="data[x.type]"></log-item>
							</div>
						</p-list>
					</template>
				</p-modal>
			</div>
			<div class="_i"></div>
			<div v-if="item.log2.length > 0" class="_cni">
				<p-modal class="inline">
					<template #init>
						<span><p-lang :value="item.log2.length" :end="['', 'Upravena 1 položka', 'Upraveny %% položky', 'Upraveno %% položek']"></p-lang></span>
					</template>
					<template #content>
						<strong>Položky upravené dne {{ date(item.datum) }}</strong>
						<div class="p-gap"></div>
						<p-list>
							<div v-for="(x, index) in item.log2">
								<strong v-if="x.node.JMENO"><router-link :to="'/kandidat/' + x.node.id">{{ x.node.JMENO + ' ' + x.node.PRIJMENI }}</router-link></strong>
								<strong v-if="x.node.NAZEV"><router-link :to="'/strana/' + x.node.id">{{ x.node.NAZEV }}</router-link></strong>
								<div class="smallest">
									<p-list-linear>
										<li v-for="(y, indexy) in x.data">
											{{ enums.logtypes[y.type] }}
										</li>
									</p-list-linear>
								</div>
							</div>
						</p-list>
					</template>
				</p-modal>:
				<p-list-linear>
					<template v-for="(x, index) in item.log2">
						<li v-if="x.node.JMENO"><router-link :to="'/kandidat/' + x.node.id" class="is-span">{{ x.node.PRIJMENI }}</router-link></li>
						<li v-if="x.node.NAZEV"><router-link :to="'/strana/' + x.node.id" class="is-span">{{ x.node.ZKRATKA }}</router-link></li>
					</template>
				</p-list-linear>
			</div>
		</div>
		<div v-if="expandable">
			<button @click="_limit = _limit === (limit || 4) ? 100000 : (limit || 4)">Zobrazit {{ _limit === 100000 ? 'méně' : 'více' }}</button>
		</div>
	</p-list>
</div>