.p-box-icon {
  width: 4rem;
  height: 4rem;
  flex: 0 0 4rem;
  display: block;

  // .dark &[src*="wiki"],
  // .dark &[src*="email.svg"],
  // .dark &[src*="address.svg"],
  // .dark &[src*="tiktok.svg"] {
  //   background: #fff;
  // }

  .dark &:not([src*="against"]):not([src*="check"]):not([src*="volby"]):not([src*="answers"]):not([src*="election"]):not([src*="party"]):not([src*="detail"]):not([src*="plus-green"]):not([src*="warning"]) {
    filter: invert(.7);
  }

  @media (hover: hover) {
    .dark .p-box-wrapper---hoverable:hover & {
      filter: invert(100%);
    }
  }
  
}
