<footer>
	<div class="footer---block text-center">

		<engagement-thanks></engagement-thanks>

		<p-line height="3"></p-line>

		<div class="strong">
			&copy;
			<p-link href="https://programydovoleb.cz">Programy do voleb, z. s.</p-link>
		</div>

		<p-gap></p-gap>

		<p-box-group class="center">
			<p-box href="https://darujme.cz/programydovoleb">
				<p-box-button color="var(--green)">Podpořit</p-box-button>
			</p-box>
			<p-box to="/o-projektu">
				<p-box-button color="var(--blue)">O projektu</p-box-button>
			</p-box>
			<p-modal> 
				<template #init>
					<p-box>
						<p-box-button color="var(--red)">Nahlásit chybu</p-box-button>
					</p-box>
				</template>
				<template #content>
					<h3>Našli jste chybu? Nebo chcete něco doplnit?</h3>
					<report-form part="Hlášení chyby"></report-form>
					<p-line></p-line>
					<p>Můžete také napsat na <p-link href="mailto:opravte@programydovoleb.cz">opravte@programydovoleb.cz</p-link></p>
				</template>
			</p-modal>
		</p-box-group>

		<p-gap></p-gap>
		<p class="small">
			Web vytváří a provozuje spolek Programy do voleb, z. s., <p-link href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1126297&typ=PLATNY" title="Spolkový resjtřík">IČO: 10906380</p-link>, L&nbsp;13767 vedený u Krajského soudu v Hradci Králové. Sídlo spolku je na adrese Jana Palacha 1413, Turnov. Transparentní účet je u Fio Banky: <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">2502004588/2010</p-link>. Web neslouží na podporu žádného kandidáta nebo strany. Ke všem stranám a&nbsp;kandidátům je přistupováno na principu rovnosti a&nbsp;férové politické&nbsp;soutěže. Fotografie kandidátů jsou použité s&nbsp;jejich svolením nebo jejich tiskových oddělení.  Volební číselníky, registry a výsledky vychází z <p-link href="https://www.czso.cz/csu/czso/podminky_pro_vyuzivani_a_dalsi_zverejnovani_statistickych_udaju_csu" content="otevřených dat ČSÚ">otevřených dat ČSÚ</p-link>.
		</p>
		<p-gap></p-gap>
		<p class="small">
			Datová schránka <strong>vhwmpce</strong>.
		</p>
	</div>
</footer>
