.person-preview-block {
	position: relative;
	container-type: inline-size;
}

._photo {
	margin-right: 1em;
	position: relative;

	._person, 
	._partyAlone {
		width: 4em;
		display: block;
		border-radius: .5em;
		// background: #fff;
	}

	._party {
		position: absolute;
		width: 2em;
		border-radius: 50%;
		aspect-ratio: 1;
		top: -.5em;
		left: -.5em;
		// background: #fff;

		+ ._party {
			top: .5em;
		}
	}

	._party,
	._partyAlone {
		background: #fff;
		border: var(--border);
	}
	
	@container (min-width: 320px) {
		._person {
			width: 8em;
		}		
	}
}

._no {
	position: absolute;
	top: 0.5em;
	left: -2em;
}

