<p-area class="person-preview-block">
	<p-offset>
		<div class="_photo" v-if="current.$kandidati.find(x => x.$data.photo.length > 0)">
			<p-photo class="_person" :data="con(cand.$data, 'photo', null, null, true)" :alt="cand.JMENO + ' ' + cand.PRIJMENI"></p-photo>
			<img class="_party" loading="lazy" :src="logoByItem(nominee, data)" v-if="nominee.VSTRANA != current.VSTRANA" :alt="'Logo ' + nominee.ZKRATKA">
			<template v-if="member && member.VSTRANA !== nominee.VSTRANA">
				<img class="_party" loading="lazy" :src="logoByItem(member, data)" :alt="'Logo ' + member.ZKRATKA">
			</template>	
		</div>
		<div class="_photo" v-if="!current.$kandidati.find(x => x.$data.photo.length > 0)">
			<template v-if="member && member.VSTRANA !== nominee.VSTRANA">
				<img class="_partyAlone" loading="lazy" :src="logoByItem(member, data)" :alt="'Logo ' + member.ZKRATKA">
			</template>	
			<img :class="member && member.VSTRANA !== nominee.VSTRANA ? '_party' : '_partyAlone'" loading="lazy" :src="logoByItem(nominee, data)">	
		</div>
		<div class="_content">
			<router-link class="strong" :to="'/kandidat/' + cand.id">{{ cand.JMENO + ' ' + cand.PRIJMENI }}</router-link>
			<div v-if="cand.$data.social && cand.$data.social.length > 0" class="_soc">
				<div class="p-gap _033"></div>
				<template v-for="(soc, indexS) in checkDuplicates(cand.$data.social)">
					<p-link :href="soc.value">
						<p-icon :src="cdn + 'icon/' + type(soc.value) + '.svg'" size="2em" border="transparent 1px solid"></p-icon>
					</p-link>
				</template>
			</div>
			<template v-if="cand.VEK || cand.POVOLANI">
				<div class="p-gap _033"></div>
				<div class="smaller">
					<div>
						<p-list-linear class="or">
							<li v-if="cand.POVOLANI">{{ cand.POVOLANI }}</li>
							<li v-if="cand.VEK">{{ cand.VEK }} let</li>
						</p-list-linear>
					</div>
				</div>
			</template>
			<div class="smallest" v-if="cand.NSTRANA && !current.PSTRANA && cand.NSTRANA != current.VSTRANA">
				nominace od 
				<p-label :color="colorByItem(cand, data, 'NSTRANA')" :after="true">
					<p-link :href="'https://programydovoleb.cz/rejstrik/' + cand.NSTRANA" class="is-span">
						{{ nominee.ZKRATKA }}
					</p-link>
				</p-label>
				
			</div>
			<div class="smallest" v-if="cand.PSTRANA && current.VSTRANA != 80 && current.VSTRANA != 90 && cand.PSTRANA != 99">
				člen
				<p-label :after="true" :color="colorByItem(cand, data, 'PSTRANA')">
					<p-link :href="'https://programydovoleb.cz/rejstrik/' + cand.PSTRANA" class="is-span">
						{{ member.ZKRATKA }}
					</p-link>
				</p-label><span class="dimm" v-if="cand.PSTRANA != cand.NSTRANA">
					&middot; nominace od <p-link :href="'https://programydovoleb.cz/rejstrik/' + cand.NSTRANA" class="is-span dimm">
						{{ nominee.ZKRATKA }}
					</p-link>
				</span>
			</div>
			<div v-if="cand.PSTRANA && cand.PSTRANA === 99">nestraník</div>
			<div class="serif smaller" v-if="cand.$data.about[0]">
				<div class="p-gap"></div>
				<p-truncated :size="24" :content="cand.$data.about[0].value" :compact="'/kandidat/' + cand.id"></p-truncated>
			</div>	
			<!-- <div class="p-gap"></div>
			<router-link class="btn" :to="'/kandidat/' + cand.id">Detail kandidáta</router-link> -->
		</div>
		<div class="_no smallest dimm">
			{{ cand.PORCISLO }}.
		</div>
	</p-offset>
</p-area>